maj_viséo.txt
[
    {
        "id": "bb47bd8c.b7be2",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "on y vois rien",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"voit\") && msg.payload.includes(\"rien\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1100,
        "wires": [
            [
                "a3ea4a36.9df278",
                "91ab0a42.fe6528"
            ]
        ]
    },
    {
        "id": "7e29a9ea.0d2a58",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "un peu de lumiére",
        "func": "if (msg.topic===true){\n     if(msg.payload.includes(\"un peu de lumiére\") )\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1140,
        "wires": [
            [
                "a3ea4a36.9df278",
                "91ab0a42.fe6528"
            ]
        ]
    },
    {
        "id": "edae9851.942e98",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "allume les phares",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"allume\") && msg.payload.includes(\"spots\")) ||(msg.payload.includes(\"allume\") && msg.payload.includes(\"feux\")) || ( msg.payload.includes(\"allume\") && msg.payload.includes(\"phares\")))\n    {\n        msg.topic=\"train\"\n        msg.payload=\"ouvre train\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1180,
        "wires": [
            [
                "a3ea4a36.9df278",
                "91ab0a42.fe6528"
            ]
        ]
    },
    {
        "id": "38fd8af0.87bbc6",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "étéint les phares",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"éteint\") && msg.payload.includes(\"spots\")) ||(msg.payload.includes(\"éteint\") && msg.payload.includes(\"feux\")) || ( msg.payload.includes(\"éteint\") && msg.payload.includes(\"phares\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"éteint lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1220,
        "wires": [
            [
                "a3ea4a36.9df278",
                "6670c0ea.a92ba"
            ]
        ]
    },
    {
        "id": "5fb24108.f0464",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "coupeles phares",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"coupe\") && msg.payload.includes(\"spots\")) ||(msg.payload.includes(\"coupe\") && msg.payload.includes(\"feux\")) || ( msg.payload.includes(\"coupe\") && msg.payload.includes(\"phares\")))\n    {\n        msg.topic=\"coupe\"\n        msg.payload=\"coupe les feux\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1260,
        "wires": [
            [
                "a3ea4a36.9df278",
                "6670c0ea.a92ba"
            ]
        ]
    },
    {
        "id": "a3ea4a36.9df278",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier l",
        "func": "msg.payload=`l`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 840,
        "y": 1120,
        "wires": [
            [
                "b3934d1.0fb78b"
            ]
        ]
    },
    {
        "id": "6670c0ea.a92ba",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "réponse random",
        "func": " msg.topic=true\n    let random=Math.floor(Math.random() * 5)\n    if(random===0)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\couple ébat.mp4\\\"\";\n    }\n    if(random===1)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\ok j'éteint tou.mp4\\\"\";\n    }\n    if(random===2)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\ne rien voir.mp4\\\"\";\n    }\n    if(random===3)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\pas de soucis.mp4\\\"\";\n    }\n  if(random===4)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\daccord.mp4\\\"\";\n    }\n    return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 1200,
        "wires": [
            [
                "c30e7c41.d78fb"
            ]
        ]
    },
    {
        "id": "91ab0a42.fe6528",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "réponse random",
        "func": " msg.topic=true\n    let random=Math.floor(Math.random() * 5)\n    if(random===0)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\ok j'allume tout.mp4\\\"\";\n    }\n    if(random===1)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\voire la mort.mp4\\\"\";\n    }\n    if(random===2)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\voir montagne.mp4\\\"\";\n    }\n    if(random===3)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\pas de soucis.mp4\\\"\";\n    }\n  if(random===4)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\daccord.mp4\\\"\";\n    }\n    return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 1160,
        "wires": [
            [
                "c30e7c41.d78fb"
            ]
        ]
    },
    {
        "id": "d1b57116.37b5e",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "éclair la zone",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"éclair \") && msg.payload.includes(\"zone\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "a3ea4a36.9df278",
                "91ab0a42.fe6528"
            ]
        ]
    },
    {
        "id": "1134bd9c.33cf42",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "réponse random",
        "func": " msg.topic=true\n    let random=Math.floor(Math.random() * 4)\n    if(random===0)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\je n'attendais que vous.mp4\\\"\";\n    }\n    if(random===1)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\connecté et dispo.mp4\\\"\";\n    }\n    if(random===2)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\je suis la et prete.mp4\\\"\";\n    }\n    if(random===3)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\je suis là.mp4\\\"\";\n    }\n\n    return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 1300,
        "wires": [
            [
                "c30e7c41.d78fb"
            ]
        ]
    },
    {
        "id": "4aa27d22.e53ce4",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "es tu là",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"es\") && msg.payload.includes(\"tu\") && msg.payload.includes(\"là\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "1134bd9c.33cf42"
            ]
        ]
    },
    {
        "id": "b97c560e.075488",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "tu m'entends",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"tu m'entends\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1360,
        "wires": [
            [
                "1134bd9c.33cf42"
            ]
        ]
    },
    {
        "id": "82da489a.f606f8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "tu es avec moi",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"tu es avec moi\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1400,
        "wires": [
            [
                "1134bd9c.33cf42"
            ]
        ]
    },
    {
        "id": "1ba889b3.7c3646",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "tu m'entends",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"on se réveille\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume lumiére\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "1134bd9c.33cf42"
            ]
        ]
    },
    {
        "id": "84779243.093dd",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier r",
        "func": "msg.payload=`r`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 860,
        "y": 1660,
        "wires": [
            [
                "b3934d1.0fb78b"
            ]
        ]
    },
    {
        "id": "363aea6b.7f5b46",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "démarre les systèmes",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"démarre les systèmes\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"démarre les systèmes\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1500,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "26cddf9c.0566b",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "allume le vaisseaux",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"allume le vaisseaux\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume le vaisseaux\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1540,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "7f6c613d.4a811",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "allume le vaisseaux",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"allume l'appareil\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"allume l'appareil\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1580,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "c3fbb05f.0c6be",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "fait chauffer l'appareil",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"fait chauffer l'appareil\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"fait chauffer l'appareil\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1620,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "c03b9a8e.0dc088",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "fait chauffer les systèmes",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"fait chauffer les systèmes\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"fait chauffer les systèmes\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1660,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "4a70e2f5.ff7dfc",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "fait chauffer le système",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"fait chauffer le système\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"fait chauffer les systèmes\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1700,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "b72bbd67.d948f",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "réponse random",
        "func": " msg.topic=true\n    let random=Math.floor(Math.random() * 4)\n    if(random===0)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\nouvelle aventure.mp4\\\"\";\n    }\n    if(random===1)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\ou allons nous.mp4\\\"\";\n    }\n    if(random===2)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\d'accord je met en chauffe.mp4\\\"\";\n    }\n    if(random===3)\n    {\n         msg.payload= \"\\\"C:\\\\sarah\\\\mpg123\\\\très bien chauffe system.mp4\\\"\";\n    }\n\n    return msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1700,
        "wires": [
            [
                "c30e7c41.d78fb"
            ]
        ]
    },
    {
        "id": "8434daf1.b28ee8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "met en chauffe l'appareil",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"met en chauffe l'appareil\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"met en chauffe l'appareil\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1740,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "6155449d.6b3bfc",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "met en chauffe le vaisseau",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"met en chauffe le vaisseau\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"met en chauffe le vaisseau\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "ec5f1d46.4834c",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "démarre le vaisseaux",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"démarre le vaisseaux\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"démarre le vaisseaux\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1820,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    },
    {
        "id": "4f07cda4.fc0204",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "démarre l' appareil",
        "func": "if (msg.topic===true){\n     if((msg.payload.includes(\"démarre l'appareil\")))\n    {\n        msg.topic=\"lumiére\"\n        msg.payload=\"démarre l'appareil\"\n        return msg;\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 1860,
        "wires": [
            [
                "84779243.093dd",
                "b72bbd67.d948f"
            ]
        ]
    }
]