viseo-bot-project/data/flow/master/00_initialisation.json
[
    {
        "id": "dc4e7734.5f3478",
        "type": "tab",
        "label": "00_initialisation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4303cb4.dd078",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search close_gear sounds",
        "path": "./../sounds/close_gear/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 430,
        "y": 800,
        "wires": [
            [
                "b8584970.d1df08"
            ]
        ]
    },
    {
        "id": "b8584970.d1df08",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"close_gear\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 800,
        "wires": [
            [
                "7fb3e2e8.0dd3ac"
            ]
        ]
    },
    {
        "id": "7fb3e2e8.0dd3ac",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search open_gear sounds",
        "path": "./../sounds/open_gear/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 710,
        "y": 820,
        "wires": [
            [
                "44e67306.d6907c"
            ]
        ]
    },
    {
        "id": "44e67306.d6907c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"open_gear\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 820,
        "wires": [
            [
                "33a2ec12.bb1da4"
            ]
        ]
    },
    {
        "id": "33a2ec12.bb1da4",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search base sounds",
        "path": "./../sounds/base/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 420,
        "y": 840,
        "wires": [
            [
                "5b5e0c58.d9f3b4"
            ]
        ]
    },
    {
        "id": "5b5e0c58.d9f3b4",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"base\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 840,
        "wires": [
            [
                "c4721559.5910d8"
            ]
        ]
    },
    {
        "id": "c4721559.5910d8",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search lum_on sounds",
        "path": "./../sounds/lum_on/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 700,
        "y": 860,
        "wires": [
            [
                "96d25414.653308"
            ]
        ]
    },
    {
        "id": "96d25414.653308",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"lum_on\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 860,
        "wires": [
            [
                "6c2eea9.be4a314"
            ]
        ]
    },
    {
        "id": "6c2eea9.be4a314",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search lum_off sounds",
        "path": "./../sounds/lum_off/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "6cda07fa.291088"
            ]
        ]
    },
    {
        "id": "6cda07fa.291088",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"lum_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 880,
        "wires": [
            [
                "19edbee8.d0d781"
            ]
        ]
    },
    {
        "id": "19edbee8.d0d781",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search online sounds",
        "path": "./../sounds/online/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 700,
        "y": 900,
        "wires": [
            [
                "d7580345.07a98"
            ]
        ]
    },
    {
        "id": "d7580345.07a98",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"online\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 900,
        "wires": [
            [
                "2e570bc2.974b04"
            ]
        ]
    },
    {
        "id": "2e570bc2.974b04",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search ready_to_fly sounds",
        "path": "./../sounds/ready_to_fly/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 920,
        "wires": [
            [
                "824dc6f7.031828"
            ]
        ]
    },
    {
        "id": "824dc6f7.031828",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"ready_to_fly\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 920,
        "wires": [
            [
                "e4c70691.d67408"
            ]
        ]
    },
    {
        "id": "e4c70691.d67408",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search starmap_on sounds",
        "path": "./../sounds/starmap_on/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 940,
        "wires": [
            [
                "56a2ba60.f9f034"
            ]
        ]
    },
    {
        "id": "56a2ba60.f9f034",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"starmap_on\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 940,
        "wires": [
            [
                "510453c7.7267cc"
            ]
        ]
    },
    {
        "id": "510453c7.7267cc",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search starmap_off sounds",
        "path": "./../sounds/starmap_off/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 960,
        "wires": [
            [
                "8a48471c.5312a8"
            ]
        ]
    },
    {
        "id": "8a48471c.5312a8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"starmap_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 960,
        "wires": [
            [
                "853cbcbd.5c4f"
            ]
        ]
    },
    {
        "id": "853cbcbd.5c4f",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search active_scan_on sounds",
        "path": "./../sounds/active_scan_on/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 730,
        "y": 980,
        "wires": [
            [
                "1495cc38.adca44"
            ]
        ]
    },
    {
        "id": "1495cc38.adca44",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"active_scan_on\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 980,
        "wires": [
            [
                "f62dbf2.cfe9b4"
            ]
        ]
    },
    {
        "id": "db81a294.75b3f",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search door_close sounds",
        "path": "./../sounds/door_close/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "e59e9055.2f94"
            ]
        ]
    },
    {
        "id": "e59e9055.2f94",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"door_close\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "f46b4194.f46d8"
            ]
        ]
    },
    {
        "id": "f46b4194.f46d8",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search door_open sounds",
        "path": "./../sounds/door_open/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "de56059f.696328"
            ]
        ]
    },
    {
        "id": "de56059f.696328",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"door_open\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1040,
        "wires": [
            [
                "cdc6e9d0.29aae8"
            ]
        ]
    },
    {
        "id": "cdc6e9d0.29aae8",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search engine_on sounds",
        "path": "./../sounds/engine_on/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 710,
        "y": 1060,
        "wires": [
            [
                "16d6360b.76d10a"
            ]
        ]
    },
    {
        "id": "16d6360b.76d10a",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"engine_on\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1060,
        "wires": [
            [
                "2b110de0.d86e42"
            ]
        ]
    },
    {
        "id": "2b110de0.d86e42",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search engine_off sounds",
        "path": "./../sounds/door_open/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 430,
        "y": 1080,
        "wires": [
            [
                "1dfde841.579c98"
            ]
        ]
    },
    {
        "id": "1dfde841.579c98",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"engine_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "f25c328.851aed"
            ]
        ]
    },
    {
        "id": "f25c328.851aed",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search generator_on sounds",
        "path": "./../sounds/gen_on/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 1100,
        "wires": [
            [
                "ece236c5.bf0ce8"
            ]
        ]
    },
    {
        "id": "ece236c5.bf0ce8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"gen_on\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1100,
        "wires": [
            [
                "2f791b9a.4dc624"
            ]
        ]
    },
    {
        "id": "2f791b9a.4dc624",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search generator_off sounds",
        "path": "./../sounds/gen_off/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "79a92174.eb32b"
            ]
        ]
    },
    {
        "id": "79a92174.eb32b",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"gen_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1120,
        "wires": [
            [
                "c5fee126.97e29"
            ]
        ]
    },
    {
        "id": "c5fee126.97e29",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search quantum_on sounds",
        "path": "./../sounds/quantum_on/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 1140,
        "wires": [
            [
                "32b40d1e.947292"
            ]
        ]
    },
    {
        "id": "32b40d1e.947292",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"quantum_on\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1140,
        "wires": [
            [
                "541d5147.5b705"
            ]
        ]
    },
    {
        "id": "541d5147.5b705",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search quantum_off sounds",
        "path": "./../sounds/quantum_off/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "646f5606.2802d8"
            ]
        ]
    },
    {
        "id": "646f5606.2802d8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"quantum_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1160,
        "wires": [
            [
                "628192a6.8499ec"
            ]
        ]
    },
    {
        "id": "628192a6.8499ec",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search quantum_jump sounds",
        "path": "./../sounds/quantum_jump/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "52bbf2a9.57aecc"
            ]
        ]
    },
    {
        "id": "52bbf2a9.57aecc",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"quantum_jump\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1180,
        "wires": [
            [
                "d3c7ffc8.27478"
            ]
        ]
    },
    {
        "id": "d3c7ffc8.27478",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search commun_swan",
        "path": "./../sounds/commun_swan/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "6d1ef9d9.584978"
            ]
        ]
    },
    {
        "id": "6d1ef9d9.584978",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"commun_swan\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1200,
        "wires": [
            [
                "72a1ef99.7ecbf"
            ]
        ]
    },
    {
        "id": "72a1ef99.7ecbf",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mining_in sounds",
        "path": "./../sounds/mining_in/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 710,
        "y": 1220,
        "wires": [
            [
                "231c067a.2323ea"
            ]
        ]
    },
    {
        "id": "231c067a.2323ea",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mining_in\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1220,
        "wires": [
            [
                "dac1a517.1e0698"
            ]
        ]
    },
    {
        "id": "dac1a517.1e0698",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mining_in",
        "path": "./../sounds/mining_out/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "62f53d36.eecfc4"
            ]
        ]
    },
    {
        "id": "62f53d36.eecfc4",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mining_out\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1240,
        "wires": [
            [
                "64ccedba.8b8644"
            ]
        ]
    },
    {
        "id": "64ccedba.8b8644",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mining_switch sounds",
        "path": "./../sounds/mining_switch/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 1260,
        "wires": [
            [
                "daed27b9.cefb38"
            ]
        ]
    },
    {
        "id": "daed27b9.cefb38",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mining_switch\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1260,
        "wires": [
            [
                "478965f4.0a583c"
            ]
        ]
    },
    {
        "id": "478965f4.0a583c",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search exit",
        "path": "./../sounds/exit/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "e60e1ef6.ee161"
            ]
        ]
    },
    {
        "id": "e60e1ef6.ee161",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"exit\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1280,
        "wires": [
            [
                "260cf50f.f1b0ea"
            ]
        ]
    },
    {
        "id": "260cf50f.f1b0ea",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search VTOL_close sounds",
        "path": "./../sounds/VTOL_close/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 1300,
        "wires": [
            [
                "dd736188.29883"
            ]
        ]
    },
    {
        "id": "3f7ce5ff.bd5f2a",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search VTOL_open",
        "path": "./../sounds/VTOL_open/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 410,
        "y": 1320,
        "wires": [
            [
                "72c89b22.1c1424"
            ]
        ]
    },
    {
        "id": "dd736188.29883",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"VTOL_close\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1300,
        "wires": [
            [
                "3f7ce5ff.bd5f2a"
            ]
        ]
    },
    {
        "id": "72c89b22.1c1424",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"VTOL_open\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1320,
        "wires": [
            [
                "39d90319.149fec"
            ]
        ]
    },
    {
        "id": "39d90319.149fec",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mod_minage",
        "path": "./../sounds/mod_minage/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 700,
        "y": 1340,
        "wires": [
            [
                "35517497.b6d6cc"
            ]
        ]
    },
    {
        "id": "35517497.b6d6cc",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mod_minage\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1340,
        "wires": [
            [
                "732c06ff.d5c268"
            ]
        ]
    },
    {
        "id": "732c06ff.d5c268",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mod_defensif sounds",
        "path": "./../sounds/mod_defensif/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 1360,
        "wires": [
            [
                "7819207d.50c94"
            ]
        ]
    },
    {
        "id": "7819207d.50c94",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mod_defensif\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1360,
        "wires": [
            [
                "6a4e40c3.8c794"
            ]
        ]
    },
    {
        "id": "6a4e40c3.8c794",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mod_navigation",
        "path": "./../sounds/mod_navigation/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "43ad90a4.b244c"
            ]
        ]
    },
    {
        "id": "43ad90a4.b244c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mod_navigation\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1380,
        "wires": [
            [
                "161d4c80.e6f4a4"
            ]
        ]
    },
    {
        "id": "161d4c80.e6f4a4",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search mod_offensif sounds",
        "path": "./../sounds/mod_offensif/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "fcf06b5e.8a5128"
            ]
        ]
    },
    {
        "id": "fcf06b5e.8a5128",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"mod_offensif\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1400,
        "wires": [
            [
                "9ff0e7ca.9baf38"
            ]
        ]
    },
    {
        "id": "9ff0e7ca.9baf38",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search clear_take_off",
        "path": "./../sounds/clear_take_off/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 700,
        "y": 1420,
        "wires": [
            [
                "3cbf1215.2b2a7e"
            ]
        ]
    },
    {
        "id": "3cbf1215.2b2a7e",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"clear_take_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1420,
        "wires": [
            [
                "b23f48.fa8420b8"
            ]
        ]
    },
    {
        "id": "b23f48.fa8420b8",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search clear_landing sounds",
        "path": "./../sounds/clear_landing/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 440,
        "y": 1440,
        "wires": [
            [
                "3b044e0e.d7f662"
            ]
        ]
    },
    {
        "id": "3b044e0e.d7f662",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"clear_landing\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1440,
        "wires": [
            [
                "84270af8.8ea7c8"
            ]
        ]
    },
    {
        "id": "f62dbf2.cfe9b4",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search active_scan_off sounds",
        "path": "./../sounds/active_scan_off/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "617b55ef.28c9ec"
            ]
        ]
    },
    {
        "id": "617b55ef.28c9ec",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"active_scan_off\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1000,
        "wires": [
            [
                "db81a294.75b3f"
            ]
        ]
    },
    {
        "id": "368cddf3.700782",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "gestion banque sonore",
        "info": "\n\n",
        "x": 180,
        "y": 800,
        "wires": []
    },
    {
        "id": "b225ade0.694fa",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search phase_chil sounds",
        "path": "./../sounds/phase_chil/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 430,
        "y": 1480,
        "wires": [
            [
                "cf35d723.df57d8"
            ]
        ]
    },
    {
        "id": "cf35d723.df57d8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"phase_chil\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1480,
        "wires": [
            [
                "2555cff.87dba3"
            ]
        ]
    },
    {
        "id": "2555cff.87dba3",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search phase_combatsounds",
        "path": "./../sounds/phase_combat/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 1500,
        "wires": [
            [
                "226bc3de.f3f19c"
            ]
        ]
    },
    {
        "id": "226bc3de.f3f19c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"phase_combat\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1500,
        "wires": [
            [
                "74df4caa.4ea7e4"
            ]
        ]
    },
    {
        "id": "74df4caa.4ea7e4",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search phase_décollage sounds",
        "path": "./../sounds/phase_décollage/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 450,
        "y": 1520,
        "wires": [
            [
                "4db6ca5.dab5b34"
            ]
        ]
    },
    {
        "id": "4db6ca5.dab5b34",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"phase_décollage\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1520,
        "wires": [
            [
                "8fdf3dac.2f05"
            ]
        ]
    },
    {
        "id": "84270af8.8ea7c8",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search phase_aterrisage sounds",
        "path": "./../sounds/phase_aterrisage/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 730,
        "y": 1460,
        "wires": [
            [
                "54f02fc.35439d"
            ]
        ]
    },
    {
        "id": "54f02fc.35439d",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"phase_aterrisage\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1460,
        "wires": [
            [
                "b225ade0.694fa"
            ]
        ]
    },
    {
        "id": "42116dc8.6dd864",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "scan sounds db",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "b4303cb4.dd078"
            ]
        ]
    },
    {
        "id": "d92d1490.082518",
        "type": "start-up-trigger",
        "z": "dc4e7734.5f3478",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "cceb969.20a1b68"
            ]
        ]
    },
    {
        "id": "d6a227f.2af1dd8",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 180,
        "y": 2560,
        "wires": [
            [
                "2f4d28c2.31a038"
            ]
        ]
    },
    {
        "id": "cef2b1ca.48526",
        "type": "exec",
        "z": "dc4e7734.5f3478",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 1290,
        "y": 2560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ba01c11.02f3b4",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "sound_effect bip",
        "func": "let sound=`\\\"`+global.get(\"path_sound\")+`bip\\\\bip_0.mp4\\\"`;\n\nmsg.payload= global.get(`vlc_path`)+global.get(`vlc_para`)+sound;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 2560,
        "wires": [
            [
                "cef2b1ca.48526"
            ]
        ]
    },
    {
        "id": "2f4d28c2.31a038",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "search in mem",
        "func": "let last_memory=global.get(\"SWAN_M\")\n\n//console.log(global.get(\"SWAN_M\"))\nlet instruction=last_memory[0]\nmsg=instruction\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 2560,
        "wires": [
            [
                "c80db1ea.dffbc"
            ]
        ]
    },
    {
        "id": "d7fb57e6.54e738",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "use memory",
        "func": "if(msg.topic===true)\n{\n    let last_memory=global.get(\"SWAN_M\")\n    let memory=[]\n    \n    //console.log(global.get(\"SWAN_M\"))\n    let instruction=last_memory[0]\n    msg=instruction\n    \n    for (i=0; i<last_memory.length;i++)\n    {\n        //console.log(last_memory[i])\n        memory.push(last_memory[i])\n    }\n    \n    \n    //let memory=global.get(\"SWAN_M\")\n    //console.log(\"memory avant :\")\n    //console.log(memory)\n    //console.log(\"nb avant: \"+memory.length)\n    \n    memory = memory.slice(1);\n    global.set(\"SWAN_M\",memory)\n    //console.log(\"memory aprés :\")\n    //console.log(memory)\n    //console.log(\"nb aprés : \"+memory.length)\n    \n    //memory=global.get(\"SWAN_M\")\n    msg={}\n    msg.topic=true\n    msg.payload=memory\n    \n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2560,
        "wires": [
            [
                "ba01c11.02f3b4"
            ]
        ]
    },
    {
        "id": "c80db1ea.dffbc",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "sommeil / attente",
        "func": "if (global.get('swan_active')===true){\n    return msg;\n       \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 2560,
        "wires": [
            [
                "8c86f913.4259a8"
            ]
        ]
    },
    {
        "id": "8c86f913.4259a8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "recharge son",
        "func": "let accept={}\nlet reject={}\nlet search=[]\n\nsearch.push(\"reload_sounds\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            if(msg.action.toString()===ask.toString())\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n    \n    if(find===true)\n    {\n        search=[]\n        accept.topic=true;\n    }\n    else\n    {\n        reject.payload=msg.payload;\n        reject.topic=true;\n    }\n    return [accept,reject]\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 770,
        "y": 2560,
        "wires": [
            [
                "d7fb57e6.54e738"
            ],
            []
        ]
    },
    {
        "id": "eaba295e.216928",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "léxique créator",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 1880,
        "wires": [
            [
                "fc06a603.93da68",
                "61283eef.c84d6"
            ]
        ]
    },
    {
        "id": "fc06a603.93da68",
        "type": "file",
        "z": "dc4e7734.5f3478",
        "name": "",
        "filename": "./../lexique.txt",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "delete",
        "x": 540,
        "y": 1840,
        "wires": []
    },
    {
        "id": "61283eef.c84d6",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 480,
        "y": 1880,
        "wires": [
            [
                "fc52ec3b.d1972"
            ]
        ]
    },
    {
        "id": "1e994308.50917d",
        "type": "file in",
        "z": "dc4e7734.5f3478",
        "name": "open_file",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": true,
        "x": 1200,
        "y": 1940,
        "wires": [
            [
                "67c54831.804eb8"
            ]
        ]
    },
    {
        "id": "67c54831.804eb8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "nettoyage",
        "func": "let line=msg.payload\nlet delete_0='<one-of>'\nlet delete_1='</one-of>'\nlet delete_2='rule id\">'\nlet delete_3='<grammar version=\"1.0\" xml:'\nlet delete_4='</grammar>'\nlet delete_5='<tag>out.action.'\nlet delete_6='</rule>'\nlet delete_7='<tag>out.action=new Object(); </tag>'\nlet delete_8=\"<item></item>\"\nlet delete_9='<rule id=';\nlet delete_10=global.get('swan_name');\n\nif(line.includes(delete_10) || line.includes(delete_9) ||line.includes(delete_8) ||line.includes(delete_7) || line.includes(delete_0) || line.includes(delete_1) || line.includes(delete_2) || line.includes(delete_3) || line.includes(delete_4) || line.includes(delete_5) || line.includes(delete_6))\n{\n}\nelse\n{\n    \n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('\\t', '')\n    line=line.replace('<!--', '\\n\\n<!--')\n    line=line.replace('<item>', '')\n    line=line.replace('</item>', '')\n    msg.payload=\"\\t\\t-\"+line\n    return msg \n}\n\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 1320,
        "y": 1940,
        "wires": [
            [
                "867121fe.d3bbd",
                "55022bba.674eb4"
            ]
        ]
    },
    {
        "id": "867121fe.d3bbd",
        "type": "file",
        "z": "dc4e7734.5f3478",
        "name": "",
        "filename": "./../lexique.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 1450,
        "y": 1940,
        "wires": []
    },
    {
        "id": "fc52ec3b.d1972",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search xml phraseo",
        "path": "./../viseo-bot-project/data/grammar/",
        "pathType": "str",
        "filter": "*.xml",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 650,
        "y": 1880,
        "wires": [
            [
                "74504385.19e19c"
            ]
        ]
    },
    {
        "id": "1b2ff4c2.fcd85b",
        "type": "loop",
        "z": "dc4e7734.5f3478",
        "name": "parcour liste fichiers xml",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "payload",
        "enumerationType": "msg",
        "limit": "500",
        "loopPayload": "loop-val",
        "finalPayload": "final-last",
        "x": 1070,
        "y": 1880,
        "wires": [
            [],
            [
                "ad38f494.de06a8"
            ]
        ]
    },
    {
        "id": "ad38f494.de06a8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "fichier en cours",
        "func": "msg.payload=global.get('swan_path')+\"\\\\viseo-bot-project\\\\data\\\\grammar\\\\\"+msg.payload\nmsg.filename=msg.payload\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 1920,
        "wires": [
            [
                "1b2ff4c2.fcd85b",
                "1e994308.50917d"
            ]
        ]
    },
    {
        "id": "74504385.19e19c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "conv tableau",
        "func": "let file_list=msg.files;\nmsg.payload=[];\n\nfor (i=0; i<file_list.length;i++)\n{\n     msg.payload.push(file_list[i]);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1880,
        "wires": [
            [
                "1b2ff4c2.fcd85b"
            ]
        ]
    },
    {
        "id": "7b87255a.5906fc",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "Création du lexique par rapport au différent fichier existant",
        "info": "\n\n",
        "x": 270,
        "y": 1800,
        "wires": []
    },
    {
        "id": "83fa54b5.7266f8",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "gestion du config.ini",
        "info": "\n\n",
        "x": 130,
        "y": 1700,
        "wires": []
    },
    {
        "id": "cc2b4307.0a7ba",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "5b8f2c8d.1ca6e4",
                "58ddb3b2.5ebc1c"
            ]
        ]
    },
    {
        "id": "55022bba.674eb4",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 740,
        "y": 1940,
        "wires": [
            [
                "cc2b4307.0a7ba"
            ]
        ]
    },
    {
        "id": "5b8f2c8d.1ca6e4",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search xml phraseo",
        "path": "./../viseo-bot-project/data/grammar/",
        "pathType": "str",
        "filter": "*.xml",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 210,
        "y": 2160,
        "wires": [
            [
                "c10285bf.500828"
            ]
        ]
    },
    {
        "id": "effbd915.bd8268",
        "type": "loop",
        "z": "dc4e7734.5f3478",
        "name": "parcour liste fichiers xml",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "payload",
        "enumerationType": "msg",
        "limit": "500",
        "loopPayload": "loop-val",
        "finalPayload": "final-last",
        "x": 630,
        "y": 2160,
        "wires": [
            [],
            [
                "f171d68a.198048"
            ]
        ]
    },
    {
        "id": "f171d68a.198048",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "fichier en cours",
        "func": "msg.payload=global.get('swan_path')+\"\\\\viseo-bot-project\\\\data\\\\grammar\\\\\"+msg.payload\nmsg.filename=msg.payload\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2220,
        "wires": [
            [
                "effbd915.bd8268",
                "12af5f0c.6c2f61"
            ]
        ]
    },
    {
        "id": "c10285bf.500828",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "conv tableau",
        "func": "let file_list=msg.files;\nmsg.payload=[];\n\nfor (i=0; i<file_list.length;i++)\n{\n     msg.payload.push(file_list[i]);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 2160,
        "wires": [
            [
                "effbd915.bd8268"
            ]
        ]
    },
    {
        "id": "12af5f0c.6c2f61",
        "type": "file in",
        "z": "dc4e7734.5f3478",
        "name": "auto",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 790,
        "y": 2220,
        "wires": [
            [
                "931d30bf.c63ef"
            ]
        ]
    },
    {
        "id": "931d30bf.c63ef",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "change name",
        "func": "if(!msg.payload.includes(\"<item>\"+global.get('swan_name')+\"</item>\"))\n{\n    msg.payload=msg.payload.replace(\"<item>SWAN</item>\",\"<item>\"+global.get('swan_name')+\"</item>\")\n    msg.payload=msg.payload.replace(\"<item>\"+global.get('last_swan_name')+\"</item>\",\"<item>\"+global.get('swan_name')+\"</item>\")\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2220,
        "wires": [
            [
                "a8e85a53.0c01d8"
            ]
        ]
    },
    {
        "id": "a8e85a53.0c01d8",
        "type": "file",
        "z": "dc4e7734.5f3478",
        "name": "file .xml",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1200,
        "y": 2220,
        "wires": []
    },
    {
        "id": "916f2824.e0c8b8",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 220,
        "y": 1840,
        "wires": [
            [
                "61283eef.c84d6",
                "fc06a603.93da68"
            ]
        ]
    },
    {
        "id": "c6d4b96e.d5aee8",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "Modification  des fichier dictionnaire.",
        "info": "\n\n",
        "x": 220,
        "y": 2120,
        "wires": []
    },
    {
        "id": "55a29342.78013c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "si message",
        "func": "msg.payload=\"chargement du dictionnaire terminée\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 2020,
        "wires": [
            [
                "4429b7ce.f5b6c8"
            ]
        ]
    },
    {
        "id": "4429b7ce.f5b6c8",
        "type": "win-speak",
        "z": "dc4e7734.5f3478",
        "x": 1230,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "5a8eca96.2aa484",
        "type": "exec",
        "z": "dc4e7734.5f3478",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 650,
        "y": 2380,
        "wires": [
            [
                "fb0c87e0.7e3fc8"
            ],
            [
                "fb0c87e0.7e3fc8"
            ],
            [
                "fb0c87e0.7e3fc8"
            ]
        ]
    },
    {
        "id": "2bd0e95d.7623d6",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "sav_kb",
        "func": "msg.payload =global.get(\"swan_path\")+\"\\\\keybinding_sc\\\\copy_kb.bat \\\"\"+global.get(\"sc_path\")+\"\\\" \\\"\"+global.get(\"swan_path\")+\"\\\"\"\n//msg.payload = global.get(\"sc_path\")+global.get(\"swan_path\")\n\n\nreturn msg;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 400,
        "y": 2380,
        "wires": [
            [
                "5a8eca96.2aa484",
                "4be6a932.2e1568"
            ]
        ]
    },
    {
        "id": "7d7f9b7e.aa8694",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "léxique créator",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 2380,
        "wires": [
            [
                "2bd0e95d.7623d6"
            ]
        ]
    },
    {
        "id": "4be6a932.2e1568",
        "type": "debug",
        "z": "dc4e7734.5f3478",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 650,
        "y": 2440,
        "wires": []
    },
    {
        "id": "fb0c87e0.7e3fc8",
        "type": "debug",
        "z": "dc4e7734.5f3478",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 910,
        "y": 2380,
        "wires": []
    },
    {
        "id": "cceb969.20a1b68",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "Config initiale systéme",
        "func": "//instruction en attente\nglobal.set(\"SWAN_M\",[])\n//où se trouve swan\nglobal.set('swan_path','C:\\\\swan')\n\n//Où se trouve votre répertoire sc live I:\\\\Roberts Space Industries\\\\StarCitizen\\\\LIVE\\\\n\";\nglobal.set(\"sc_path\",\"I:\\\\Roberts Space Industries\\\\StarCitizen\\\\LIVE\\\\\");\n\n//où se trouve le répertoire son deswan\nglobal.set('path_sound',global.get('swan_path')+`\\\\sounds\\\\`);\n\n//quelle est le nom de swan\nglobal.set('swan_name',\"SWAN\");\n\n//quelle est le ancien nom de swan\nglobal.set('last_swan_name',\"SWAN\");\n\n//quella voix à utiliser\nglobal.set('voice',\"voice_1\");\n\n//a quelle niveau de confiance doit elle réagir\nglobal.set('confiance_gate',0.80);\n\n//volume de swan\nglobal.set('volume',0.7);\n\n//volume de swan\nglobal.set('volume2',0.5);\n\n//swan sera t'elle à l'acoute au démarrage\nglobal.set('swan_active',true);\n\n//balayage actif\nglobal.set('spy_scan',false);\n\n//swan utilise t'elle les sons (true) ou juste un bip (false)\nglobal.set('discret',false);\n\n//etat du lecteur audio\nglobal.set(\"player_status\",\"standy\")\n\n//paramétre et localisation de vlc\nglobal.set('vlc_path',`\"C:\\\\Program Files\\\\VideoLAN\\\\VLC\\\\vlc.exe\" `)\nglobal.set('vlc_para',`--gain=`+global.get('volume')+` --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop `)\nglobal.set('vlc_para2',`--gain=`+global.get('volume2')+` --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop `)\n//global.set('a_k_short_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard.ahk\")\n//global.set('a_k_long_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard_long.ahk\")\nglobal.set('a_k_send_path',global.get('swan_path')+\"\\\\autohotkey\\\\send_text.ahk\")\n//global.set('a_k_alt_left_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard_left_alt.ahk\")\nglobal.set('a_k_auto_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard_auto.ahk\")\nglobal.set('a_k_auto_long_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard_auto_long.ahk\")\nglobal.set('a_k_mouse',global.get('swan_path')+\"\\\\autohotkey\\\\mouse_click.ahk\")\nglobal.set(\"jsonflow\",\"\")\n\nglobal.set(\"musical_mod\", \"true\")\n\n//console.log(`Le nom de votre IA est   : ${ global.get(\"swan_name\")}`)\n//console.log(`les sons sont configurés à l'adresse : ${ global.get(\"path_sound\")}`)\nconsole.log(`le seuil d'assurance de reconnaisse est à  : ${ global.get(\"confiance_gate\")}`)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "62ea4faf.c5664"
            ]
        ]
    },
    {
        "id": "62ea4faf.c5664",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "Config initiale clavier",
        "func": "//train\nglobal.set('v_atc_request',``);\n\nglobal.set('v_toggle_landing_system',`{n}`);\nglobal.set('v_toggle_landing_system',`{n}`);\n\nglobal.set('v_lights',`{l}`);\nglobal.set('v_lights',`{l}`);\n\nglobal.set('v_flightready',`{r}`);\n\nglobal.set('v_starmap',`{F2}`);\n\nglobal.set('v_invoke_ping',`{TAB}`);\n\nglobal.set('v_open_all_doors',``);\nglobal.set('v_close_all_doors',``);\n\nglobal.set('v_power_set_thrusters_on',`{i}`);\nglobal.set('v_power_set_thrusters_off',`{i}`);\n\nglobal.set('v_power_set_on',`{u}`);\nglobal.set('v_power_set_off',`{u}`);\n\nglobal.set('v_toggle_quantum_mode',`{b}`);\nglobal.set('v_toggle_quantum_mode',`{b}`);\nglobal.set('v_toggle_qdrive_engagement',`{LONG}{b}`);\n\nglobal.set('open_min_tools',`{,}`);\nglobal.set('close_min_tools',`{,}`);\nglobal.set('v_jettison_volatile_cargo',`{LAlt}{j}`);\n\nglobal.set('v_toggle_mining_mode',`{right_click}`);\n\nglobal.set('exit',`{LONG}{y}`);\n\nglobal.set('v_toggle_vtol',`{k}`);\nglobal.set('v_toggle_vtol',`{k}`);\n\nglobal.set('v_capacitor_assignment_weapon_combined_increase_max',`{F5}`);\nglobal.set('v_capacitor_assignment_engine_combined_increase_max',`{F6}`);\nglobal.set('v_capacitor_assignment_shield_combined_increase_max',`{F7}`);\nglobal.set('v_capacitor_assignment_reset',`{F8}`);\n\nglobal.set('v_shield_reset_level',`{Numpad5}`);\nglobal.set('v_shield_raise_level_forward',`{Numpad8}`);\nglobal.set('v_shield_raise_level_back',`{Numpad2}`);\nglobal.set('v_shield_raise_level_left',`{Numpad4}`);\nglobal.set('v_shield_raise_level_right',`{Numpad6}`);\n\nglobal.set('v_target_cycle_in_view_reset',`{t}`);\nglobal.set('v_target_unlock_selected',`{LAlt}{t}`);\nglobal.set('v_toggle_missile_mode',`{molette_click}`);\nglobal.set('v_weapon_launch_missile',`{left_click}`);\nglobal.set('v_weapon_increase_max_missiles',`{g}`);\nglobal.set('v_ifcs_toggle_vector_decoupling', `{LAlt}{c}`)\n\nglobal.set('my_id_discord',`Flo3376#8040`);\nglobal.set('my_discord',`https://discord.gg/ZY3Gwdav`);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "a6a72e4d.10aa"
            ]
        ]
    },
    {
        "id": "24f60d70.81ca92",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "b4303cb4.dd078"
            ]
        ]
    },
    {
        "id": "d628bc6b.c2616",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "si message",
        "func": "msg.payload=\"chargement de la configuration initiale\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "e1e66bc.8903898"
            ]
        ]
    },
    {
        "id": "e1e66bc.8903898",
        "type": "win-speak",
        "z": "dc4e7734.5f3478",
        "x": 1090,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "391dddc3.1db832",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "Etape1-chargement config initial",
        "info": "\n\n",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "a6a72e4d.10aa",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "sound_start_up",
        "func": "let sound=`\\\"`+global.get(\"path_sound\")+`system_swan\\\\initial_dem.mp3\\\" `;\n    msg.payload= global.get(`vlc_path`)+\"\"+global.get(`vlc_para`)+sound;\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 180,
        "wires": [
            [
                "bcb55429.635dc8",
                "a03cbc6.10d984"
            ]
        ]
    },
    {
        "id": "a03cbc6.10d984",
        "type": "exec",
        "z": "dc4e7734.5f3478",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 1250,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c1da69a6.25d7c8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "si message",
        "func": "msg.payload=\"chargement de la base de donnée sonore\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 740,
        "wires": [
            [
                "fd46ef64.606af"
            ]
        ]
    },
    {
        "id": "fd46ef64.606af",
        "type": "win-speak",
        "z": "dc4e7734.5f3478",
        "x": 1090,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "da10b26f.7cddc",
        "type": "win-speak",
        "z": "dc4e7734.5f3478",
        "x": 650,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "23171d0c.221aa2",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "si message",
        "func": "msg.payload=\"Réécriture et chargement des fichiers de commandes terminé\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 2080,
        "wires": [
            [
                "da10b26f.7cddc"
            ]
        ]
    },
    {
        "id": "bcb55429.635dc8",
        "type": "file in",
        "z": "dc4e7734.5f3478",
        "name": "open config.ini",
        "filename": "./../config.ini",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "b38514a1.7b0028"
            ]
        ]
    },
    {
        "id": "b38514a1.7b0028",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "config loader",
        "func": "data=msg.payload.split('\\n');\n\nlet data_to_load=[];\n\nfor(i=0; i< data.length; i++)\n{\n    if(!data[i].startsWith('*') && !data[i].startsWith('#'))\n    {\n        if(data[i]!==\"\"){\n           data_to_load.push(data[i]);\n        }\n        \n    }\n}\n\nfor(i=0; i< data_to_load.length; i++)\n{\n    //console.log(data_to_load[i])\n    let data=data_to_load[i].split('=');\n    global.set(data[0], data[1])\n    //quella voix à utiliser\n\n    \n   //global.set\n}\n\nglobal.set('vlc_para',`--gain=`+global.get('volume')+` --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop `)\nglobal.set('vlc_para2',`--gain=`+global.get('volume2')+`  --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop `)\n\n\nglobal.set(\"SWAN_M\",[])\n\nglobal.set('a_k_send_path',global.get('swan_path')+\"\\\\autohotkey\\\\send_text.ahk\")\nglobal.set('a_k_auto_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard_auto.ahk\")\nglobal.set('a_k_auto_long_path',global.get('swan_path')+\"\\\\autohotkey\\\\keyboard_auto_long.ahk\")\nglobal.set('a_k_mouse',global.get('swan_path')+\"\\\\autohotkey\\\\mouse_click.ahk\")\nglobal.set('path_sound',global.get('swan_path')+'\\\\sounds\\\\');\n\n\nif(global.get('swan_active')==='true')\n{\n    global.set('swan_active',true)\n}\nelse\n{\n     global.set('swan_active',false)\n}\n\nif(global.get('discret')==='true')\n{\n    global.set('discret',true)\n}\nelse\n{\n     global.set('discret',false)\n}\n\nif(global.get('musical_mod')==='true')\n{\n    global.set('musical_mod',true)\n}\nelse\n{\n     global.set('musical_mod',false)\n}\nmsg={}\nmsg.topic=true\nmsg.payload=\"config chargée\"\nreturn msg\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "5b262ebd.2a2ec"
            ]
        ]
    },
    {
        "id": "dc5f5dcf.f2849",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "Etape2-chargement fichier config",
        "info": "\n\n",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc318d02.652bc",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 580,
        "y": 700,
        "wires": [
            [
                "f67e5292.f06fc"
            ]
        ]
    },
    {
        "id": "f67e5292.f06fc",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "Config creator",
        "func": "msg.payload=\"**************************************************\\n\";\nmsg.payload+=\"*         \t  config générale\\n\";\nmsg.payload+=\"**************************************************\\n\\n\";\n\n\nmsg.payload+=\"# Où se trouve Swan par defaut=C:\\\\swan\\n\";\nmsg.payload+=\"swan_path=\"+global.get(\"swan_path\")+\"\\n\\n\";\n\nmsg.payload+=\"# Où se trouve votre répertoire sc live I:\\\\Roberts Space Industries\\\\StarCitizen\\\\LIVE\\\\\\n\";\nmsg.payload+=\"sc_path=\"+global.get(\"sc_path\")+\"\\n\\n\";\n\nmsg.payload+=\"# Comment allez vous l'appeler !!!le nom doit être en majuscule et sans espace,\\n\";\nmsg.payload+=\"swan_name=\"+global.get(\"swan_name\")+\"\\n\\n\";\n\nmsg.payload+=\"# Quelle voix utilisez vous (voice_1, voice_2), voice_1 ->SWAN voice_2->TROPPER par défaut voice_1\\n\";\nmsg.payload+=\"voice=\"+global.get(\"voice\")+\"\\n\\n\";\n\nmsg.payload+=\"# Certaine action peuvent lancer de la musique en relation avec l'action, le souhaitez vous,true = oui, false = non\\n\";\nmsg.payload+=\"musical_mod=\"+global.get(\"musical_mod\")+\"\\n\\n\";\n\nmsg.payload+=\"# Si vous avez déjà modifier le nom et que vous voulez en changer de nouveau, il faut mettre le dernier nom utilisé\\n\";\nmsg.payload+=\"last_swan_name=\"+global.get(\"last_swan_name\")+\"\\n\\n\";\n\nmsg.payload+=\"# Niveau sévérité 0 à 1, plus il est faible plus elle risque de comprendre n'importe quoi,\\n\";\nmsg.payload+=\"# plus il est élevé plus vous devrez avoir une locution parfaite\\n\";\nmsg.payload+=\"# par défaut à 0.80\\n\";\nmsg.payload+=\"confiance_gate=\"+global.get(\"confiance_gate\")+\"\\n\\n\";\n\nmsg.payload+=\"# Niveau sonore 0 à 2, proche 0 inaudible, proche de 2 très très fort\\n\";\nmsg.payload+=\"# par défaut à 0.9\\n\";\nmsg.payload+=\"volume=\"+global.get(\"volume\")+\"\\n\\n\";\n\nmsg.payload+=\"# Swan vous écoutes dés le démarrage true = oui, false = non\\n\";\nmsg.payload+=\"# par défaut true\\n\";\nmsg.payload+=\"swan_active=\"+global.get(\"swan_active\")+\"\\n\\n\";\n\n\nmsg.payload+=\"# Swan utilise sa voie pour vous réponde true = oui, false = non\\n\";\nmsg.payload+=\"# par défaut true\\n\";\nmsg.payload+=\"discret=\"+global.get(\"discret\")+\"\\n\\n\";\n\nmsg.payload+=\"# Swan utilise vlc, où se trouve t'il?\\n\";\nmsg.payload+=\"# par défaut \\\"C:\\\\Program Files\\\\VideoLAN\\\\VLC\\\\vlc.exe\\\"\\n\";\nmsg.payload+=\"vlc_path=\"+global.get(\"vlc_path\")+\"\\n\\n\";\n\nmsg.payload+=\"# La définition de votre écran pour Higor le déménageur breton\\n\";\nmsg.payload+=\"# 1920x1080 ou  2560x1440 ou 7680x1440\\n\";\nmsg.payload+=\"my_discord=\"+global.get(\"display\")+\"\\n\\n\\n\";\n\nmsg.payload+=\"\\n\\n**************************************************\\n\";\nmsg.payload+=\"*         \t  message à envoyer\\n\";\nmsg.payload+=\"**************************************************\\n\\n\";\nmsg.payload+=\"# votre identifiant discord\\n\";\nmsg.payload+=\"my_id_discord=\"+global.get(\"my_id_discord\")+\"\\n\";\nmsg.payload+=\"# votre discord\\n\";\nmsg.payload+=\"my_discord=\"+global.get(\"my_discord\")+\"\\n\\n\\n\";\n\n\n/*\n\nmsg.payload+=\"\\n\\n**************************************************\\n\";\nmsg.payload+=\"*         \t  config clavier\\n\";\nmsg.payload+=\"**************************************************\\n\\n\";\n\nmsg.payload+=\"**************************************************\\n\";\nmsg.payload+=\"*     code clavier\\n\";\nmsg.payload+=\"*     ------------\\n\";\nmsg.payload+=\"*     !!!attention chaque touche doit être entouré de { et de }, exemple pour la touche u {u}\\n\";\nmsg.payload+=\"*     alt gauche {LAlt} exemple {LAlt}j\\n\";\nmsg.payload+=\"*     alt droit pas utilisable pour le moment\\n\";\nmsg.payload+=\"*     shift gauche {LShift} exemple {LShift}j\\n\";\nmsg.payload+=\"*     shift droit {RShift} exemple {RShift}j\\n\";\nmsg.payload+=\"*     controle gauche {RCtrl} exemple {RCtrl}j\\n\";\nmsg.payload+=\"*     Controle droit {LCtrl} exemple {LCtrl}j\\n\";\nmsg.payload+=\"*     touche fonction type F1 {F1}\\n\";\nmsg.payload+=\"*     chiffre clavier numéric 5 {NUMPAD5}\\n\";\nmsg.payload+=\"*     appuie long sur b {LONG}B (uniquement pour les touches simple pas de combinaison)\\n\";\nmsg.payload+=\"*     click droit {right_click}\\n\";\nmsg.payload+=\"*     click molette {molette_click}\\n\";\nmsg.payload+=\"*     click gauche {left_click}\\n\";\nmsg.payload+=\"**************************************************\\n\";\nmsg.payload+=\"# Demander l'atérrissage\\n\";\nmsg.payload+=\"#v_atc_request=\"+global.get(\"v_atc_request\")+\"\\n\";\n\nmsg.payload+=\"# Ouvrir le train d'atérrissage\\n\";\nmsg.payload+=\"#v_toggle_landing_system=\"+global.get(\"v_toggle_landing_system\")+\"\\n\";\nmsg.payload+=\"# Fermer le train d'atérrissage\\n\";\nmsg.payload+=\"#v_toggle_landing_system=\"+global.get(\"v_toggle_landing_system\")+\"\\n\\n\";\n\nmsg.payload+=\"# passer en découplé\\n\";\nmsg.payload+=\"#v_ifcs_toggle_vector_decoupling=\"+global.get(\"v_ifcs_toggle_vector_decoupling\")+\"\\n\";\nmsg.payload+=\"# passer en couplé\\n\";\nmsg.payload+=\"#v_ifcs_toggle_vector_decoupling=\"+global.get(\"v_ifcs_toggle_vector_decoupling\")+\"\\n\\n\";\n\n\nmsg.payload+=\"# Allumer les phares\\n\";\nmsg.payload+=\"#v_lights=\"+global.get(\"v_lights\")+\"\\n\";\nmsg.payload+=\"# Eteindre les phares\\n\";\nmsg.payload+=\"#v_lights=\"+global.get(\"v_lights\")+\"\\n\\n\";\n\nmsg.payload+=\"# Ready to fly (r)\\n\";\nmsg.payload+=\"#v_flightready=\"+global.get(\"v_flightready\")+\"\\n\\n\";\n\nmsg.payload+=\"# Afficher / fermer la starmap\\n\";\nmsg.payload+=\"#v_starmap=\"+global.get(\"v_starmap\")+\"\\n\\n\";\n\nmsg.payload+=\"# Envoyer un ping\\n\";\nmsg.payload+=\"#v_invoke_ping=\"+global.get(\"v_invoke_ping\")+\"\\n\\n\";\n\nmsg.payload+=\"# Ouvrir les portes\\n\";\nmsg.payload+=\"#v_open_all_doors=\"+global.get(\"v_open_all_doors\")+\"\\n\";\nmsg.payload+=\"# Fermer les portes\\n\";\nmsg.payload+=\"#v_close_all_doors=\"+global.get(\"v_close_all_doors\")+\"\\n\\n\";\n\nmsg.payload+=\"# Démarrer les moteurs\\n\";\nmsg.payload+=\"#v_power_set_thrusters_on=\"+global.get(\"v_power_set_thrusters_on\")+\"\\n\";\nmsg.payload+=\"# Eteindre les moteurs\\n\";\nmsg.payload+=\"#v_power_set_thrusters_off=\"+global.get(\"v_power_set_thrusters_off\")+\"\\n\\n\";\n\nmsg.payload+=\"# Démarrer les générateur\\n\";\nmsg.payload+=\"#v_power_set_on=\"+global.get(\"v_power_set_on\")+\"\\n\";\nmsg.payload+=\"# Eteindre les générateur\\n\";\nmsg.payload+=\"#v_power_set_off=\"+global.get(\"v_power_set_off\")+\"\\n\\n\";\n\nmsg.payload+=\"# Démarrer le moteur quantique\\n\";\nmsg.payload+=\"#v_toggle_quantum_mode=\"+global.get(\"v_toggle_quantum_mode\")+\"\\n\";\nmsg.payload+=\"# Eteindre le moteur quantique\\n\";\nmsg.payload+=\"#v_toggle_quantum_mode=\"+global.get(\"v_toggle_quantum_mode\")+\"\\n\";\nmsg.payload+=\"# lancer le saut quantique\\n\";\nmsg.payload+=\"#v_toggle_qdrive_engagement=\"+global.get(\"v_toggle_qdrive_engagement\")+\"\\n\\n\";\n\nmsg.payload+=\"# Ouvrir le bras de minage\\n\";\nmsg.payload+=\"#open_min_tools=\"+global.get(\"open_min_tools\")+\"\\n\";\nmsg.payload+=\"# Fermer le bras de minage\\n\";\nmsg.payload+=\"#close_min_tools=\"+global.get(\"close_min_tools\")+\"\\n\";\nmsg.payload+=\"# Changer l'outils du bras de minage\\n\";\nmsg.payload+=\"#v_toggle_mining_mode=\"+global.get(\"v_toggle_mining_mode\")+\"\\n\";\nmsg.payload+=\"# ejecter le cargo instable\\n\";\nmsg.payload+=\"#v_jettison_volatile_cargo=\"+global.get(\"v_jettison_volatile_cargo\")+\"\\n\\n\";\n\nmsg.payload+=\"# Sortir du cockpit\\n\";\nmsg.payload+=\"#exit=\"+global.get(\"exit\")+\"\\n\\n\";\n\nmsg.payload+=\"# activer VTOL\\n\";\nmsg.payload+=\"#v_toggle_vtol=\"+global.get(\"v_toggle_vtol\")+\"\\n\";\nmsg.payload+=\"# désactiver VTOL\\n\";\nmsg.payload+=\"#v_toggle_vtol=\"+global.get(\"v_toggle_vtol\")+\"\\n\\n\";\n\nmsg.payload+=\"# ajout de puissance sur le capacitor des armes\\n\";\nmsg.payload+=\"v_capacitor_assignment_weapon_increase=\"+global.get(\"v_capacitor_assignment_weapon_increase\")+\"\\n\";\nmsg.payload+=\"# ajout de puissance sur le capacitor des moteurs\\n\";\nmsg.payload+=\"v_capacitor_assignment_weapon_increase=\"+global.get(\"v_capacitor_assignment_weapon_increase\")+\"\\n\";\nmsg.payload+=\"# ajout de puissance sur le capacitor des boucliers\\n\";\nmsg.payload+=\"v_capacitor_assignment_shield_increase=\"+global.get(\"v_capacitor_assignment_shield_increase\")+\"\\n\";\nmsg.payload+=\"# capacitors équilibrés\\n\";\nmsg.payload+=\"v_capacitor_assignment_reset=\"+global.get(\"v_capacitor_assignment_reset\")+\"\\n\\n\";\n\nmsg.payload+=\"# transfert de puissance sur le bouclier avant\\n\";\nmsg.payload+=\"#v_shield_raise_level_forward=\"+global.get(\"v_shield_raise_level_forward\")+\"\\n\";\nmsg.payload+=\"# transfert de puissance sur le bouclier arrière\\n\";\nmsg.payload+=\"#v_shield_raise_level_back=\"+global.get(\"v_shield_raise_level_back\")+\"\\n\";\nmsg.payload+=\"# transfert de puissance sur le bouclier gauche\\n\";\nmsg.payload+=\"#v_shield_raise_level_left=\"+global.get(\"v_shield_raise_level_left\")+\"\\n\";\nmsg.payload+=\"# transfert de puissance sur le bouclier droit\\n\";\nmsg.payload+=\"#v_shield_raise_level_right=\"+global.get(\"v_shield_raise_level_right\")+\"\\n\";\nmsg.payload+=\"# boucliers équilibrés\\n\";\nmsg.payload+=\"#v_shield_reset_level=\"+global.get(\"v_shield_reset_level\")+\"\\n\\n\";\n\nmsg.payload+=\"# verrouillage d'une cible\\n\";\nmsg.payload+=\"#target_lock=\"+global.get('v_target_cycle_in_view_reset')+\"\\n\";\n\nmsg.payload+=\"# déverrouillage d'une cible\\n\";\nmsg.payload+=\"#target_unlock=\"+global.get('v_target_unlock_selected')+\"\\n\";\n\nmsg.payload+=\"# passage de missile à canon et inversement\\n\";\nmsg.payload+=\"#v_toggle_missile_mode=\"+global.get('v_toggle_missile_mode')+\"\\n\";\n\nmsg.payload+=\"# feux missile\\n\";\nmsg.payload+=\"#v_weapon_launch_missile=\"+global.get('v_weapon_launch_missile')+\"\\n\";\n\nmsg.payload+=\"# changement du nombre de missile (cyclique)\\n\";\nmsg.payload+=\"#v_weapon_increase_max_missiles=\"+global.get('v_weapon_increase_max_missiles')+\"\\n\\n\";\n*/\nreturn msg;\n//config de base\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "e8212bc4.f5c168",
                "24f60d70.81ca92"
            ]
        ]
    },
    {
        "id": "e8212bc4.f5c168",
        "type": "file",
        "z": "dc4e7734.5f3478",
        "name": "",
        "filename": "./../config.ini",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "d640c3da.b51fa",
        "type": "exec",
        "z": "dc4e7734.5f3478",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "30",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 530,
        "y": 340,
        "wires": [
            [],
            [],
            [
                "72953f73.a807d"
            ]
        ]
    },
    {
        "id": "5b262ebd.2a2ec",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "sav_kb",
        "func": "msg.payload =global.get(\"swan_path\")+\"\\\\keybinding_sc\\\\copy_kb.bat \\\"\"+global.get(\"sc_path\")+\"\\\" \\\"\"+global.get(\"swan_path\")+\"\\\"\"\n//msg.payload = global.get(\"sc_path\")+global.get(\"swan_path\")\n\n\nreturn msg;\n",
        "outputs": "1",
        "noerr": 0,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "d640c3da.b51fa"
            ]
        ]
    },
    {
        "id": "a1a31857.074b18",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "Etape3-sauvergarde du keybinding et récupération automatique des attributions claviers",
        "info": "\n\n",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "8fd87ebc.8026d",
        "type": "xml",
        "z": "dc4e7734.5f3478",
        "name": "",
        "attr": "name",
        "chr": "star2",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "31669c69.b35f74",
                "ad945257.431c8"
            ]
        ]
    },
    {
        "id": "72953f73.a807d",
        "type": "file in",
        "z": "dc4e7734.5f3478",
        "name": "open my_kb.xml",
        "filename": "./../my_kb.xml",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "8fd87ebc.8026d",
                "1540ea70.dbad06"
            ]
        ]
    },
    {
        "id": "31669c69.b35f74",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "to action map",
        "func": "let extract={};\n\nfor (i=0;i<msg.payload.ActionMaps.ActionProfiles[0].actionmap.length;i++)\n{\n    for(i2=0;i2<msg.payload.ActionMaps.ActionProfiles[0].actionmap[i].action.length;i2++)\n    {\n        let action_name=msg.payload.ActionMaps.ActionProfiles[0].actionmap[i].action[i2].name.name;\n        let action_rebind=msg.payload.ActionMaps.ActionProfiles[0].actionmap[i].action[i2].rebind;\n        \n        extract[action_name]=[];\n        \n        for (i3=0;i3<action_rebind.length;i3++)\n        {\n            if((action_rebind[i3].name.input.startsWith(\"mo1_\") || action_rebind[i3].name.input.startsWith(\"kb1_\")) && !action_rebind[i3].name.input.endsWith(\"_\"))\n            {\n                let new_input=action_rebind[i3].name.input.replace(\"kb1_\",\"\");\n                new_input=new_input.replace(\"mo1_\",\"\");\n                new_input=new_input.replace(\"mouse1\",\"{left_click}\");\n                new_input=new_input.replace(\"mouse2\",\"{right_click}\");\n                new_input=new_input.replace(\"mouse3\",\"{molette_click}\");\n                \n                new_input=new_input.replace(\"space\",\"{space}\");\n                new_input=new_input.replace(\"apostrophe\",\"{ù}\");\n                new_input=new_input.replace(\"semicolon\",\"{m}\");\n                new_input=new_input.replace(\"comma\",\"{;}\");\n                new_input=new_input.replace(\"period\",\"{:}\");\n                new_input=new_input.replace(\"backslash\",\"{*}\");\n                new_input=new_input.replace(\"slash\",\"{!}\");\n                new_input=new_input.replace(\"Backspace\",\"{Backspace}\");\n                \n                /*new_input=new_input.replace(\"lalt+\",\"{LAlt}\");\n                new_input=new_input.replace(\"ralt+\",\"{RAlt}\");\n                new_input=new_input.replace(\"lctrl+\",\"{Lctrl}\");\n                new_input=new_input.replace(\"rctrl+\",\"{Rctrl}\");\n                new_input=new_input.replace(\"lshift+\",\"{LShift}\");\n                new_input=new_input.replace(\"rshift+\",\"{RShift}\");*/\n                \n                new_input=new_input.replace(\"f10\",\"{F10}\");\n                new_input=new_input.replace(\"f11\",\"{F11}\");\n                new_input=new_input.replace(\"f12\",\"{F12}\");\n                new_input=new_input.replace(\"rbracket\",\"{$}\");\n                new_input=new_input.replace(\"lbracket\",\"{^}\");\n                new_input=new_input.replace(\"f1\",\"{F1}\");\n                new_input=new_input.replace(\"f2\",\"{F2}\");\n                new_input=new_input.replace(\"f3\",\"{F3}\");\n                new_input=new_input.replace(\"f4\",\"{F4}\");\n                new_input=new_input.replace(\"f5\",\"{F5}\");\n                new_input=new_input.replace(\"f6\",\"{F6}\");\n                new_input=new_input.replace(\"f7\",\"{F8}\");\n                new_input=new_input.replace(\"f9\",\"{F9}\");\n                \n                \n                new_input=new_input.replace(\"np_1\",\"{Numpad1}\");\n                new_input=new_input.replace(\"np_2\",\"{Numpad2}\");\n                new_input=new_input.replace(\"np_3\",\"{Numpad3}\");\n                new_input=new_input.replace(\"np_4\",\"{Numpad4}\");\n                new_input=new_input.replace(\"np_5\",\"{Numpad5}\");\n                new_input=new_input.replace(\"np_6\",\"{Numpad6}\");\n                new_input=new_input.replace(\"np_7\",\"{Numpad7}\");\n                new_input=new_input.replace(\"np_8\",\"{Numpad8}\");\n                new_input=new_input.replace(\"np_9\",\"{Numpad9}\");\n                new_input=new_input.replace(\"np_0\",\"{Numpad0}\");\n              \n                if(new_input.length===1)\n                {\n                    new_input=\"{\"+new_input+\"}\"\n                }\n                else{\n                    let temp_input=new_input;\n                    let n_input=\"\"\n                    \n                    if(temp_input.includes(\"lalt+\"))\n                    {\n                        temp_input=temp_input.replace(\"lalt+\",\"\");\n                        n_input+=\"{LAlt}\";\n                        \n                    }\n                    if(temp_input.includes(\"ralt+\"))\n                    {\n                        temp_input=temp_input.replace(\"ralt+\",\"\");\n                        n_input+=\"{RAlt}\";\n                        \n                    }\n                    if(temp_input.includes(\"lctrl+\"))\n                    {\n                        temp_input=temp_input.replace(\"lctrl+\",\"\");\n                        n_input+=\"{Lctrl}\";\n                        \n                    }\n                    if(temp_input.includes(\"rctrl+\"))\n                    {\n                        temp_input=temp_input.replace(\"rctrl+\",\"\");\n                        n_input+=\"{Rctrl}\";\n                        \n                    }\n                    if(temp_input.includes(\"lshift+\"))\n                    {\n                        temp_input=temp_input.replace(\"lshift+\",\"\");\n                        n_input+=\"{LShift}\";\n                        \n                    }\n                    if(temp_input.includes(\"rshift+\"))\n                    {\n                        temp_input=temp_input.replace(\"rshift+\",\"\");\n                        n_input+=\"{RShift}\";\n                        \n                    }\n                    //if(temp_input.length===1)\n                    //{\n                        temp_input=\"{\"+temp_input+\"}\";\n                        temp_input=temp_input.replace(\"{{\",\"{\")\n                        temp_input=temp_input.replace(\"}}\",\"}\")\n                   // }\n                    \n                    console.log(\"tentative : \"+n_input+temp_input)\n                }\n                \n                \n                \n               extract[action_name].push(new_input); \n            \n                \n                if (global.get(action_name)!==undefined)\n                {\n                    //console.log(\"j'ai une attribution pour \"+action_name+\" ==>>\"+global.get(action_name)+\" souhaité \"+action_rebind[i3].name.input.replace(\"kb1_\",\"\")+\" qui devra devenir \"+new_input)\n                    global.set(action_name,new_input);\n                 }\n            }\n        }\n    }\n}\n\nObject.keys(extract).forEach(key => {\n  if(extract[key].length<1)\n    {\n       delete extract[key]; \n    }\n});\n\nconsole.log(extract)\n\nmsg.data=extract;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "debf7a3d.85d1f8",
                "fc318d02.652bc"
            ]
        ]
    },
    {
        "id": "44c06adb.5bc4b4",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "suivant",
        "topic": "",
        "payload": "kill",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "5b262ebd.2a2ec"
            ]
        ]
    },
    {
        "id": "debf7a3d.85d1f8",
        "type": "debug",
        "z": "dc4e7734.5f3478",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1340,
        "y": 260,
        "wires": []
    },
    {
        "id": "1540ea70.dbad06",
        "type": "debug",
        "z": "dc4e7734.5f3478",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "ad945257.431c8",
        "type": "debug",
        "z": "dc4e7734.5f3478",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1090,
        "y": 420,
        "wires": []
    },
    {
        "id": "4a83b9f7.b4e3d8",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "51c84ad9.efd814"
            ]
        ]
    },
    {
        "id": "51c84ad9.efd814",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "capture config clean chargée",
        "func": "console.log(global.keys())\n\nlet purge=[\n\"tzModule\",\n\"xpathModule\",\n\"domModule\",\n\"uuidv1\",\n\"uuidv4\",\n\"uuidv5\",\n\"CONFIG\",\n\"get\",\n\"set\",\n\"close_gear_q\",\n\"close_gear_sound\",\n\"open_gear_q\",\n\"open_gear_sound\",\n\"base_q\",\n\"base_sound\",\n\"lum_on_q\",\n\"lum_on_sound\",\n\"lum_off_q\",\n\"lum_off_sound\",\n\"online_q\",\n\"online_sound\",\"starmap_on_q\",\n\"starmap_on_sound\",\n\"starmap_off_q\",\n\"starmap_off_sound\",\n\"active_scan_on_q\",\n\"active_scan_on_sound\",\n\"door_close_q\",\n\"door_close_sound\",\n\"door_open_q\",\"door_open_sound\",\n\"engine_on_q\",\"engine_on_sound\",\n\"engine_off_q\",\n\"engine_off_sound\",\n\"gen_on_q\",\n\"gen_on_sound\",\n\"gen_off_q\",\n\"gen_off_sound\",\n\"quantum_on_q\",\n\"quantum_on_sound\",\n\"quantum_off_q\",\n\"quantum_off_sound\",\n\"quantum_jump_sound\",\n\"commun_swan_q\",\n\"commun_swan_sound\",\n\"mining_in_q\",\"mining_in_sound\",\n\"mining_out_q\",\"mining_out_sound\",\n\"mining_switch_q\",\n\"mining_switch_sound\",\n\"exit_q\",\"exit_sound\",\n\"VTOL_close_q\",\n\"VTOL_close_sound\",\n\"VTOL_open_q\",\n\"VTOL_open_sound\",\n\"mod_minage_q\",\n\"mod_minage_sound\",\n\"mod_defensif_q\",\n\"mod_defensif_sound\",\n\"mod_navigation_q\",\n\"mod_navigation_sound\",\n\"mod_offensif_q\",\n\"mod_offensif_sound\",\n\"ready_to_fly_q\",\n\"ready_to_fly_sound\",\n\"quantum_jump_q\",\n\"path_sound\",\"spy_scan\",\n\"active_scan_off_q\",\n\"active_scan_off_sound\",\n\"clear_take_off_q\",\n\"clear_landing_q\",\n\"clear_landing_sound\",\n\"clear_take_off_q\",\n\"clear_take_off_sound\",\n\"phase_aterrisage_q\",\n\"phase_aterrisage_sound\",\n\"phase_chil_q\",\n\"phase_chil_sound\",\n\"phase_combat_q\",\n\"phase_combat_sound\",\n\"phase_décollage_q\",\n\"phase_décollage_sound\"\n]\n\nfor (i=0; i<global.keys().length;i++)\n{\n    \n    if(purge.includes(global.keys()[i]))\n    {\n        \n    }\n    else{\n        console.log(global.keys()[i]+\"=\"+global.get(global.keys()[i]))\n    }\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 500,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c12573b5.1bf4e",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "df44089f.73af58"
            ]
        ]
    },
    {
        "id": "df44089f.73af58",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "capture config full chargé",
        "func": "console.log(global.keys())\n\nlet purge=[\n\"tzModule\",\n\"xpathModule\",\n\"domModule\",\n\"uuidv1\",\n\"uuidv4\",\n\"uuidv5\",\n\"CONFIG\",\n\"get\",\n\"set\",\n\"close_gear_q\",\n\"close_gear_sound\",\n\"open_gear_q\",\n\"open_gear_sound\",\n\"base_q\",\n\"base_sound\",\n\"lum_on_q\",\n\"lum_on_sound\",\n\"lum_off_q\",\n\"lum_off_sound\",\n\"online_q\",\n\"online_sound\",\"starmap_on_q\",\n\"starmap_on_sound\",\n\"starmap_off_q\",\n\"starmap_off_sound\",\n\"active_scan_on_q\",\n\"active_scan_on_sound\",\n\"door_close_q\",\n\"door_close_sound\",\n\"door_open_q\",\"door_open_sound\",\n\"engine_on_q\",\"engine_on_sound\",\n\"engine_off_q\",\n\"engine_off_sound\",\n\"gen_on_q\",\n\"gen_on_sound\",\n\"gen_off_q\",\n\"gen_off_sound\",\n\"quantum_on_q\",\n\"quantum_on_sound\",\n\"quantum_off_q\",\n\"quantum_off_sound\",\n\"quantum_jump_sound\",\n\"commun_swan_q\",\n\"commun_swan_sound\",\n\"mining_in_q\",\"mining_in_sound\",\n\"mining_out_q\",\"mining_out_sound\",\n\"mining_switch_q\",\n\"mining_switch_sound\",\n\"exit_q\",\"exit_sound\",\n\"VTOL_close_q\",\n\"VTOL_close_sound\",\n\"VTOL_open_q\",\n\"VTOL_open_sound\",\n\"mod_minage_q\",\n\"mod_minage_sound\",\n\"mod_defensif_q\",\n\"mod_defensif_sound\",\n\"mod_navigation_q\",\n\"mod_navigation_sound\",\n\"mod_offensif_q\",\n\"mod_offensif_sound\",\n\"ready_to_fly_q\",\n\"ready_to_fly_sound\",\n\"quantum_jump_q\",\n\"path_sound\",\"spy_scan\"\n]\n\nfor (i=0; i<global.keys().length;i++)\n{\n    \n    if(purge.includes(global.keys()[i]))\n    {\n        \n    }\n    else{\n        console.log(global.keys()[i]+\"=\"+global.get(global.keys()[i]))\n    }\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 490,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "aed19597.ce6c88",
        "type": "win-speak",
        "z": "dc4e7734.5f3478",
        "x": 1350,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "d1a2ae4d.2226",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "si message",
        "func": "msg.payload=\"Démarrage terminé\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 2300,
        "wires": [
            [
                "aed19597.ce6c88"
            ]
        ]
    },
    {
        "id": "1fcff61b.b2652a",
        "type": "trigger",
        "z": "dc4e7734.5f3478",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "4",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 980,
        "y": 2300,
        "wires": [
            [
                "d1a2ae4d.2226"
            ]
        ]
    },
    {
        "id": "27ee8e28.40ef72",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "suivant",
        "topic": "",
        "payload": "kill",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "72953f73.a807d"
            ]
        ]
    },
    {
        "id": "58ddb3b2.5ebc1c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "sound_start_up",
        "func": "let sound=`\\\"`+global.get(\"path_sound\")+`system_swan\\\\second_dem.mp3\\\" `;\n    msg.payload= global.get(`vlc_path`)+\" \"+global.get(`vlc_para`)+sound;\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 2440,
        "wires": [
            [
                "480d0b13.737ba4"
            ]
        ]
    },
    {
        "id": "480d0b13.737ba4",
        "type": "exec",
        "z": "dc4e7734.5f3478",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 1390,
        "y": 2440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "120313f2.946ddc",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search vol_couplé sounds",
        "path": "./../sounds/phase_décollage/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "dac1688e.5f4ec8"
            ]
        ]
    },
    {
        "id": "8fdf3dac.2f05",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search vol_découplé sounds",
        "path": "./../sounds/vol_découplé/",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 720,
        "y": 1540,
        "wires": [
            [
                "8ef04fb8.4d7"
            ]
        ]
    },
    {
        "id": "dac1688e.5f4ec8",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"vol_couplé\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1560,
        "wires": [
            [
                "916f2824.e0c8b8"
            ]
        ]
    },
    {
        "id": "8ef04fb8.4d7",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "set number directory",
        "func": "let thematique=\"vol_découplé\";\nglobal.set(thematique+\"_q\",msg.files.length);\nlet sounds_check=[]\n\nfor (i=0;i<msg.files.length;i++)\n{\n    if(msg.files[i].startsWith(global.get(\"voice\")))\n    {\n        sounds_check.push(msg.files[i])\n    }\n    \n}\nglobal.set(thematique+\"_sound\",sounds_check)\nmsg={};msg.start=\"Started\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 1540,
        "wires": [
            [
                "120313f2.946ddc"
            ]
        ]
    },
    {
        "id": "e127a19a.a9f2b",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "exportation du flow",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "5dc0b54c.83702c"
            ]
        ]
    },
    {
        "id": "5dc0b54c.83702c",
        "type": "file in",
        "z": "dc4e7734.5f3478",
        "name": "auto",
        "filename": "./../viseo-bot-project/data/flows.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "ab7da42f.8a5f88"
            ]
        ]
    },
    {
        "id": "ab7da42f.8a5f88",
        "type": "json",
        "z": "dc4e7734.5f3478",
        "name": "from json",
        "pretty": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "dd622c57.e12a5"
            ]
        ]
    },
    {
        "id": "dd622c57.e12a5",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "targeting",
        "func": "let id_scan=\"\";data=msg.payload\n\nfor(i=0;i<data.length;i++)\n{\n    if(data[i].hasOwnProperty(\"type\"))\n    {\n       if (data[i].label===\"00_initialisation\")\n        {\n            id_scan=data[i].id;\n        }\n    }\n}\n\nmsg.payload=[];\n\nfor(i=0;i<data.length;i++)\n{\n    if (data[i].z===id_scan || data[i].id===id_scan)\n        {\n            msg.payload.push(data[i])\n        }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 80,
        "wires": [
            [
                "7ceb4e16.6d0f5"
            ]
        ]
    },
    {
        "id": "7ceb4e16.6d0f5",
        "type": "json",
        "z": "dc4e7734.5f3478",
        "name": "to json",
        "pretty": true,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "bbc10634.d4a848"
            ]
        ]
    },
    {
        "id": "bbc10634.d4a848",
        "type": "file",
        "z": "dc4e7734.5f3478",
        "name": "00_initialisation.json",
        "filename": "./../viseo-bot-project/data/flow/master/00_initialisation.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6ed6403.c7b1c8",
        "type": "comment",
        "z": "dc4e7734.5f3478",
        "name": "sauvegarde du flow pour exportation ou modeur",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "bf315ed9.d7f6a",
        "type": "inject",
        "z": "dc4e7734.5f3478",
        "name": "FLOW CREATOR",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 2680,
        "wires": [
            [
                "68416de.ebdbc94"
            ]
        ]
    },
    {
        "id": "68416de.ebdbc94",
        "type": "fs-ops-dir",
        "z": "dc4e7734.5f3478",
        "name": "search xml phraseo",
        "path": "./../viseo-bot-project/data/flow/master/",
        "pathType": "str",
        "filter": "*.json",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 350,
        "y": 2680,
        "wires": [
            [
                "abd85a25.2ec598"
            ]
        ]
    },
    {
        "id": "abd85a25.2ec598",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "conv tableau",
        "func": "let file_list=msg.files;\nmsg.payload=[];\n\nfor (i=0; i<file_list.length;i++)\n{\n     msg.payload.push(file_list[i]);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 2680,
        "wires": [
            [
                "dd8af41.fb91c08",
                "5c1191f4.c65d9"
            ]
        ]
    },
    {
        "id": "dd8af41.fb91c08",
        "type": "loop",
        "z": "dc4e7734.5f3478",
        "name": "parcour liste fichiers xml",
        "kind": "enum",
        "count": "",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "payload",
        "enumerationType": "msg",
        "limit": "500",
        "loopPayload": "loop-val",
        "finalPayload": "final-last",
        "x": 730,
        "y": 2840,
        "wires": [
            [
                "aafdd7e2.cf4b08"
            ],
            [
                "5c1191f4.c65d9"
            ]
        ]
    },
    {
        "id": "5c1191f4.c65d9",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "fichier en cours",
        "func": "msg.payload=global.get('swan_path')+\"\\\\viseo-bot-project\\\\data\\\\flow\\\\master\\\\\"+msg.payload\nmsg.filename=msg.payload\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 2680,
        "wires": [
            [
                "dd8af41.fb91c08",
                "ee56777f.506bf8"
            ]
        ]
    },
    {
        "id": "ee56777f.506bf8",
        "type": "file in",
        "z": "dc4e7734.5f3478",
        "name": "auto",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1130,
        "y": 2680,
        "wires": [
            [
                "33670303.0e121c"
            ]
        ]
    },
    {
        "id": "33670303.0e121c",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "to memory json",
        "func": "let data=global.get(\"jsonflow\")\n\ndata+=msg.payload\nglobal.set(\"jsonflow\",data)\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1320,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "68a7dd6b.c4e724",
        "type": "debug",
        "z": "dc4e7734.5f3478",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 1160,
        "y": 2760,
        "wires": []
    },
    {
        "id": "aafdd7e2.cf4b08",
        "type": "function",
        "z": "dc4e7734.5f3478",
        "name": "",
        "func": "msg.payload=global.get(\"jsonflow\")\n\n\n\nvar patt = new RegExp(/\\]\\[/g);\n  msg.payload = msg.payload.replace(patt, \",\");\n  \n  \n  \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 2720,
        "wires": [
            [
                "68a7dd6b.c4e724",
                "591dd137.3657a"
            ]
        ]
    },
    {
        "id": "591dd137.3657a",
        "type": "file",
        "z": "dc4e7734.5f3478",
        "name": "",
        "filename": "./../viseo-bot-project/data/flow/flows.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1240,
        "y": 2720,
        "wires": []
    }
]