viseo-bot-project/data/flow/master/01_routeur.json
[
    {
        "id": "e23f34c2.ea7468",
        "type": "tab",
        "label": "01_routeur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bbbefa1c.e7cab8",
        "type": "win-sarah",
        "z": "e23f34c2.ea7468",
        "name": "SWAN",
        "active": false,
        "options": "49e8174c.9887d8",
        "grammar": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a21ef329.23026",
                "ec188c63.4f29b",
                "d60ca2bb.66005"
            ]
        ]
    },
    {
        "id": "ac647b67.9b8388",
        "type": "trigger",
        "z": "e23f34c2.ea7468",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-750",
        "extend": false,
        "units": "ms",
        "reset": "",
        "name": "",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "261893f.92dad6c"
            ]
        ]
    },
    {
        "id": "27f69a61.302b16",
        "type": "start-up-trigger",
        "z": "e23f34c2.ea7468",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "ac647b67.9b8388",
                "fb3c923a.6d82"
            ]
        ]
    },
    {
        "id": "d60ca2bb.66005",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n    to_true.action=msg.payload.options.action;\n    to_true.confiance=msg.payload.confidence.toFixed(3);\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [],
            [
                "fbfd8614.138e78",
                "5c5dbc9f.ec4f34",
                "f34174b4.d99d68"
            ]
        ]
    },
    {
        "id": "fbfd8614.138e78",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "To memory",
        "func": "let memory=[]\nmsg.time=Date.now();\nmsg.attemp=0;\n\n\nlet last_memory=global.get(\"SWAN_M\")\n\nconsole.log(last_memory)\nconsole.log(\"nb déjà en mémoire: \"+last_memory.length)\n\nfor (i=0; i<last_memory.length;i++)\n{\n    console.log(last_memory[i])\n    memory.push(last_memory[i])\n}\nmemory.push(msg)\n\nglobal.set(\"SWAN_M\",memory)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "261893f.92dad6c",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "Flush first of memory (auto purge)",
        "func": "let last_memory=global.get(\"SWAN_M\");\nlet memory=[];\nlet now=Date.now();\nlet first=true\n\nmsg={};\nif(last_memory.length >0)\n{\n    console.log(\"memory avant :\");\n    console.log(last_memory);\n    console.log(\"nb avant: \"+last_memory.length);\n    \n    for (i=0; i<last_memory.length;i++)\n    {\n        if((now-last_memory[i].time)>500 && last_memory[i].attemp>3)\n        {\n            if(first===true)\n            {\n                msg.payload=last_memory[i].payload;\n                msg.topic=true;\n                first=false\n            }\n            else\n            {\n                last_memory[i].attemp++;\n                memory.push(last_memory[i]); \n            }\n           \n        }\n        else{\n            if(i===0)\n            {\n                last_memory[i].attemp++;\n            }\n            \n            memory.push(last_memory[i]); \n            \n        }\n    }\n    console.log(\"memory aprés :\");\n    console.log(memory);\n    console.log(\"nb aprés: \"+memory.length)\n    \n    global.set(\"SWAN_M\",memory);\n    return msg;\n}\nelse{\n    global.set(\"SWAN_M\",[]);\n}\n\n\n\n//console.log(\"memory avant :\");\n//console.log(memory);\n//console.log(\"nb avant: \"+memory.length);\n\n//memory = memory.slice(1);\n//console.log(\"memory aprés :\");\n//console.log(memory);\n//console.log(\"nb aprés : \"+memory.length);\n\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "f73f40ad.67307"
            ]
        ]
    },
    {
        "id": "f34174b4.d99d68",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "pour les logs",
        "func": "\nif (msg.confiance!==\"\")\n{\n    let date_ob = new Date();\n    let data={};\n    \n    // current date\n    // adjust 0 before single digit date\n    let date = (\"0\" + date_ob.getDate()).slice(-2);\n    \n    // current month\n    let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n    \n    // current year\n    let year = date_ob.getFullYear();\n    \n    // current hours\n    let hours = date_ob.getHours();\n    \n    // current minutes\n    let minutes = date_ob.getMinutes();\n    \n    // current seconds\n    let seconds = date_ob.getSeconds();\n    \n    console.log(data)\n    \n    msg.payload=year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds+\"    \"+msg.confiance+\"    \"+msg.payload+\"    \"+msg.action;\n    return msg\n}\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "6fc310cd.f84b8"
            ]
        ]
    },
    {
        "id": "6fc310cd.f84b8",
        "type": "file",
        "z": "e23f34c2.ea7468",
        "name": "",
        "filename": "./../log_confiance.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "70473f6.b440cc",
        "type": "win-speak",
        "z": "e23f34c2.ea7468",
        "x": 1390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "6f778f1e.242ad",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "sound_effect bip",
        "func": "if (msg.payload !== undefined)\n{\n    let sound=`\\\"`+global.get(\"path_sound\")+`error\\\\désolé circuit pas connecté.mp4\\\"`;\n    msg.payload= global.get(`vlc_path`)+global.get(`vlc_para`)+sound;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "41e2f0f1.ab732"
            ]
        ]
    },
    {
        "id": "41e2f0f1.ab732",
        "type": "exec",
        "z": "e23f34c2.ea7468",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 1410,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5d463369.d0563c",
        "type": "trigger",
        "z": "e23f34c2.ea7468",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "7",
        "extend": false,
        "units": "s",
        "reset": "reset",
        "name": "",
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "70473f6.b440cc"
            ]
        ]
    },
    {
        "id": "53da0e4e.06c7a",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "si message",
        "func": "if (msg.payload !== undefined)\n{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "5d463369.d0563c"
            ]
        ]
    },
    {
        "id": "fb3c923a.6d82",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "sound_effect bip",
        "func": "let sound=`\\\"`+global.get(\"path_sound\")+`bip\\\\bip_0.mp4\\\"`;\n\nmsg.payload= global.get(`vlc_path`)+global.get(`vlc_para`)+sound;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "f82a7e75.f4b9c"
            ]
        ]
    },
    {
        "id": "f82a7e75.f4b9c",
        "type": "exec",
        "z": "e23f34c2.ea7468",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec_cmd",
        "x": 1410,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f73f40ad.67307",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "sommeil / attente",
        "func": "if (global.get('swan_active')===true){\n    return msg;\n       \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 380,
        "wires": [
            [
                "6f778f1e.242ad",
                "53da0e4e.06c7a"
            ]
        ]
    },
    {
        "id": "5c5dbc9f.ec4f34",
        "type": "debug",
        "z": "e23f34c2.ea7468",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "a21ef329.23026",
        "type": "debug",
        "z": "e23f34c2.ea7468",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "f77e9c7d.06be1",
        "type": "file",
        "z": "e23f34c2.ea7468",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec188c63.4f29b",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "buffer",
        "func": "let sound=msg.payload.buffer;\n/*\nfor (i=0;i<msg.payload.buffer;i++)\n{\n    sound+=msg.payload.buffer[i]\n}*/\nmsg.filename=\"./../diag_audio/\"+msg.payload.text+\"_\"+msg._msgid+\".mp3\"\nmsg.payload=sound;\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f77e9c7d.06be1"
            ]
        ]
    },
    {
        "id": "d3fe53f1.3ef27",
        "type": "inject",
        "z": "e23f34c2.ea7468",
        "name": "exportation du flow",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "187471e4.8bd9be"
            ]
        ]
    },
    {
        "id": "187471e4.8bd9be",
        "type": "file in",
        "z": "e23f34c2.ea7468",
        "name": "auto",
        "filename": "./../viseo-bot-project/data/flows.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "b01ea2f7.79aba"
            ]
        ]
    },
    {
        "id": "b01ea2f7.79aba",
        "type": "json",
        "z": "e23f34c2.ea7468",
        "name": "from json",
        "pretty": false,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "a6e4d21d.75c55"
            ]
        ]
    },
    {
        "id": "a6e4d21d.75c55",
        "type": "function",
        "z": "e23f34c2.ea7468",
        "name": "targeting",
        "func": "let id_scan=\"\";data=msg.payload\n\nfor(i=0;i<data.length;i++)\n{\n    if(data[i].hasOwnProperty(\"type\"))\n    {\n       if (data[i].label===\"01_routeur\")\n        {\n            id_scan=data[i].id;\n        }\n    }\n}\n\nmsg.payload=[];\n\nfor(i=0;i<data.length;i++)\n{\n    if (data[i].z===id_scan || data[i].id===id_scan)\n        {\n            msg.payload.push(data[i])\n        }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "25787e67.de9332"
            ]
        ]
    },
    {
        "id": "25787e67.de9332",
        "type": "json",
        "z": "e23f34c2.ea7468",
        "name": "to json",
        "pretty": true,
        "x": 710,
        "y": 60,
        "wires": [
            [
                "79c8ddf5.2e97b4"
            ]
        ]
    },
    {
        "id": "79c8ddf5.2e97b4",
        "type": "file",
        "z": "e23f34c2.ea7468",
        "name": "01_routeur.json",
        "filename": "./../viseo-bot-project/data/flow/master/01_routeur.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "1236569d.fb8039",
        "type": "comment",
        "z": "e23f34c2.ea7468",
        "name": "sauvegarde du flow pour exportation ou modeur",
        "info": "",
        "x": 220,
        "y": 20,
        "wires": []
    }
]