viseo-bot-project/data/.flows.json.backup
[
    {
        "id": "b66acd7.74f2a3",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "9975e215.c276b",
        "type": "tab",
        "label": "example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "65f33c0b.3eaaa4",
        "type": "win-listen-config",
        "z": "",
        "name": "Default",
        "process": "",
        "language": "",
        "confidence": "",
        "recognizer": "",
        "hotword": "Swan"
    },
    {
        "id": "9eda0c04.8c",
        "type": "soundfile-directory",
        "z": "",
        "directory": "C:\\sarah\\mpg123"
    },
    {
        "id": "c03cd534.842208",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6b346f7b.1a9e",
        "type": "win-sarah",
        "z": "b66acd7.74f2a3",
        "name": "SWAN",
        "active": true,
        "options": "65f33c0b.3eaaa4",
        "grammar": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "169f3390.c83f7c",
                "52adfb92.88b324",
                "1a17be4d.985b42",
                "7148a91d.ef9b48"
            ]
        ]
    },
    {
        "id": "169f3390.c83f7c",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "ba21a4c.ff4fb58"
            ],
            [
                "dc190f3d.ae95b",
                "2426945c.782b3c",
                "74020766.bb2d28",
                "522ef241.663c2c",
                "4992daa8.ce4cd4"
            ]
        ]
    },
    {
        "id": "52adfb92.88b324",
        "type": "debug",
        "z": "b66acd7.74f2a3",
        "name": "scan complet",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "30bcb650.b20baa",
        "type": "win-sarah",
        "z": "9975e215.c276b",
        "name": "",
        "active": false,
        "options": "65f33c0b.3eaaa4",
        "grammar": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "29c01bcf.98bec4",
                "c0ff189c.4b7e38"
            ]
        ]
    },
    {
        "id": "fe1df59d.0ff718",
        "type": "win-speak",
        "z": "9975e215.c276b",
        "name": "",
        "input": "",
        "x": 410,
        "y": 80,
        "wires": [
            [
                "f8bb95a5.cb2c28"
            ]
        ]
    },
    {
        "id": "29c01bcf.98bec4",
        "type": "debug",
        "z": "9975e215.c276b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "c0ff189c.4b7e38",
        "type": "function",
        "z": "9975e215.c276b",
        "name": "Sentence",
        "func": "msg.payload = \"je vous reçois\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "fe1df59d.0ff718"
            ]
        ]
    },
    {
        "id": "f8bb95a5.cb2c28",
        "type": "debug",
        "z": "9975e215.c276b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "e039a7b1.1a3378",
        "type": "play-soundfile",
        "z": "9975e215.c276b",
        "name": "",
        "directory": "9eda0c04.8c",
        "file": "plantage_de_swan.mp4",
        "allow_multiple": false,
        "x": 492.5,
        "y": 182.60000610351562,
        "wires": [
            [
                "6964d4e4.64703c"
            ]
        ]
    },
    {
        "id": "6964d4e4.64703c",
        "type": "debug",
        "z": "9975e215.c276b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 772,
        "y": 186,
        "wires": []
    },
    {
        "id": "b5b221b9.e8b9f",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "Step 1_Trieur de confiance",
        "info": "Dans cette partie, on régle un niveau de confiance.\nPlus il est élevé, plus le risque de refus et grand\n",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "8aca2fc2.4dca2",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "Step 2_Gestionnaire de scénario",
        "info": "Ici nous avons le réparteur de scénario\n\n",
        "x": 130,
        "y": 360,
        "wires": []
    },
    {
        "id": "c30e7c41.d78fb",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 1000,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c906628b.62438",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier F3",
        "func": "msg.payload=`F3`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "ddce9d3a.83f45"
            ]
        ]
    },
    {
        "id": "b3934d1.0fb78b",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5f3eacef.0de624",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier n",
        "func": "msg.payload=`n`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "c8a06bff.2709c8"
            ]
        ]
    },
    {
        "id": "a3ea4a36.9df278",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier l",
        "func": "msg.payload=`l`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 900,
        "y": 720,
        "wires": [
            [
                "d2163591.c4d328"
            ]
        ]
    },
    {
        "id": "84779243.093dd",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier r",
        "func": "msg.payload=`r`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 900,
        "y": 940,
        "wires": [
            [
                "b3934d1.0fb78b"
            ]
        ]
    },
    {
        "id": "c881456b.919678",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "intialisation variable",
        "func": "global.set('path_sound',`C:\\\\swan\\\\sounds\\\\`);\nglobal.set('confiance_gate',0.80);\nglobal.set('swan_active',true);\nglobal.set('spy_scan',false);\nglobal.set('discret',false);\nconsole.log(`les sons sont configurés à l'adresse : ${ global.get(\"path_sound\")}`)\nconsole.log(`le seuil d'assurance de reconnaisse est à  : ${ global.get(\"confiance_gate\")}`)",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a2e0d13.5c3473",
        "type": "start-up-trigger",
        "z": "b66acd7.74f2a3",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "c881456b.919678"
            ]
        ]
    },
    {
        "id": "5b000a8.2d68cf4",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 460,
        "wires": [
            [],
            [
                "2138d111.3e568e"
            ]
        ]
    },
    {
        "id": "e523c834.a7eb18",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 580,
        "wires": [
            [],
            [
                "22232de5.66b6f2",
                "b843b6ff.dcf998"
            ]
        ]
    },
    {
        "id": "dc190f3d.ae95b",
        "type": "debug",
        "z": "b66acd7.74f2a3",
        "name": "Si fort",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba21a4c.ff4fb58",
        "type": "debug",
        "z": "b66acd7.74f2a3",
        "name": "Si faible",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "8062ff8b.d5812",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 720,
        "wires": [
            [],
            [
                "94522874.573468",
                "f81e2770.3a96d8"
            ]
        ]
    },
    {
        "id": "d71b31bb.c22fe",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 860,
        "wires": [
            [],
            [
                "50d5919.51a547"
            ]
        ]
    },
    {
        "id": "c6af786d.7d3558",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 960,
        "wires": [
            [],
            [
                "16e2c842.a51038"
            ]
        ]
    },
    {
        "id": "7f0a503a.4025",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 1060,
        "wires": [
            [],
            [
                "97f99b07.24c188",
                "39e4cf39.b3eb8"
            ]
        ]
    },
    {
        "id": "bc4a3cb9.3f088",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier F2",
        "func": "msg.payload=`F2`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 910,
        "y": 1060,
        "wires": [
            [
                "460721f7.59cf5"
            ]
        ]
    },
    {
        "id": "1a17be4d.985b42",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sommeil / attente",
        "func": "if (global.get('swan_active')===true){\n    return msg;\n       \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "5b000a8.2d68cf4",
                "e523c834.a7eb18",
                "8062ff8b.d5812",
                "d71b31bb.c22fe",
                "c6af786d.7d3558",
                "7f0a503a.4025",
                "23d00a44.378186",
                "9ec619a6.5401a8",
                "629994d2.7ea81c",
                "260696ed.8109ba"
            ]
        ]
    },
    {
        "id": "c1948433.e6bbc8",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "vlc",
        "x": 1330,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a99da21f.41866",
        "type": "start-up-trigger",
        "z": "b66acd7.74f2a3",
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "6827eb5c.49e3c4"
            ]
        ]
    },
    {
        "id": "6827eb5c.49e3c4",
        "type": "trigger",
        "z": "b66acd7.74f2a3",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-3",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 600,
        "y": 1320,
        "wires": [
            [
                "11e523a1.ac2f1c"
            ]
        ]
    },
    {
        "id": "11e523a1.ac2f1c",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "gate scan",
        "func": "if(global.get('spy_scan') === true)\n{\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "71db5810.c17cb8",
                "25c44c73.51dc74"
            ]
        ]
    },
    {
        "id": "71db5810.c17cb8",
        "type": "debug",
        "z": "b66acd7.74f2a3",
        "name": "debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 970,
        "y": 1320,
        "wires": []
    },
    {
        "id": "57b51271.9e8a2c",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "appel station",
        "info": "\n\n",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5548db4.06b2c",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "train",
        "info": "\n\n",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "6b62bb2f.c09be4",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "phare",
        "info": "\n\n",
        "x": 330,
        "y": 680,
        "wires": []
    },
    {
        "id": "d947969b.074ba8",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "en ligne",
        "info": "\n\n",
        "x": 330,
        "y": 820,
        "wires": []
    },
    {
        "id": "56107917.7ecb18",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "démarrage vaisseau",
        "info": "\n\n",
        "x": 370,
        "y": 920,
        "wires": []
    },
    {
        "id": "e3a336d2.e67d68",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "starmap",
        "info": "\n\n",
        "x": 340,
        "y": 1020,
        "wires": []
    },
    {
        "id": "23d00a44.378186",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 1200,
        "wires": [
            [],
            [
                "c42194a3.4db048",
                "9aa7a9e2.3b9e38"
            ]
        ]
    },
    {
        "id": "f26957c9.4d4b48",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "coupure balayage",
        "func": "global.set('spy_scan',false);",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "c80aea08.6d0d58",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "activation balayage",
        "func": "global.set('spy_scan',true);",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "25c44c73.51dc74",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier TAB",
        "func": "msg.payload=`TAB`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 990,
        "y": 1360,
        "wires": [
            [
                "d336e636.ff7478"
            ]
        ]
    },
    {
        "id": "53cf4596.a9a80c",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "scan",
        "info": "\n\n",
        "x": 330,
        "y": 1160,
        "wires": []
    },
    {
        "id": "501a9084.c7787",
        "type": "file",
        "z": "b66acd7.74f2a3",
        "name": "",
        "filename": "c:\\swan\\log_confiance.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "7148a91d.ef9b48",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "pour les logs",
        "func": "let date_ob = new Date();\n\n// current date\n// adjust 0 before single digit date\nlet date = (\"0\" + date_ob.getDate()).slice(-2);\n\n// current month\nlet month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n\n// current year\nlet year = date_ob.getFullYear();\n\n// current hours\nlet hours = date_ob.getHours();\n\n// current minutes\nlet minutes = date_ob.getMinutes();\n\n// current seconds\nlet seconds = date_ob.getSeconds();\n\nmsg.payload=year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds+\"    \"+msg.payload.confidence+\"    \"+msg.payload.text;\nreturn msg\n\n\n\n/*\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}*/\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "501a9084.c7787"
            ]
        ]
    },
    {
        "id": "6921498.5c791b8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier $",
        "func": "msg.payload=`$`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 940,
        "y": 1480,
        "wires": [
            [
                "efcdfb6.20ccd08"
            ]
        ]
    },
    {
        "id": "9ec619a6.5401a8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 1440,
        "wires": [
            [],
            [
                "4f016f81.955fe",
                "c4719d52.28f68"
            ]
        ]
    },
    {
        "id": "efcdfb6.20ccd08",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 1440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3666514d.83582e",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 1500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "94640d5a.68dbb",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"ouverture des portes\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1440,
        "wires": [
            [
                "3666514d.83582e"
            ]
        ]
    },
    {
        "id": "79cb86f6.54f288",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "Porte vaisseau",
        "info": "\n\n",
        "x": 360,
        "y": 1400,
        "wires": []
    },
    {
        "id": "49944fd.0150ab",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"ok je les contacts\")\nsound_effect.push(\"ok c'est compris\")\nsound_effect.push(\"execution\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"pas de soucis\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "8912f0df.ebdb9"
            ]
        ]
    },
    {
        "id": "8912f0df.ebdb9",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ddce9d3a.83f45",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c8a06bff.2709c8",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "49a64f07.1b5dd",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8f498681.181068",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"on les a ouvert\")\nsound_effect.push(\"on est repartis\")\nsound_effect.push(\"fermeture des trains\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"pas de soucis\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 660,
        "wires": [
            [
                "49a64f07.1b5dd"
            ]
        ]
    },
    {
        "id": "37c53eaf.fd07e2",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"on les a toujours\")\nsound_effect.push(\"reposer les patins\")\nsound_effect.push(\"ouverture des trains\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"pas de soucis\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 620,
        "wires": [
            [
                "49a64f07.1b5dd"
            ]
        ]
    },
    {
        "id": "5ca65c60.093064",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"ok j'allume tout\")\nsound_effect.push(\"voire la mort\")\nsound_effect.push(\"voir montagne\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"pas de soucis\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "ca430cbc.92834"
            ]
        ]
    },
    {
        "id": "467b1001.aaf0e",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"couple ébat\")\nsound_effect.push(\"ok j'éteint tou\")\nsound_effect.push(\"ne rien voir\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"pas de soucis\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 800,
        "wires": [
            [
                "ca430cbc.92834"
            ]
        ]
    },
    {
        "id": "d2163591.c4d328",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ca430cbc.92834",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 780,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a9f45782.f6e668",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"je n'attendais que vous\")\nsound_effect.push(\"connecté et dispo\")\nsound_effect.push(\"je suis la et prete\")\nsound_effect.push(\"je suis là\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "b068d650.d6dbd8"
            ]
        ]
    },
    {
        "id": "b068d650.d6dbd8",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7054d44f.818afc",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"nouvelle aventure\")\nsound_effect.push(\"ou allons nous\")\nsound_effect.push(\"d'accord je met en chauffe\")\nsound_effect.push(\"très bien chauffe system\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 980,
        "wires": [
            [
                "c30e7c41.d78fb"
            ]
        ]
    },
    {
        "id": "419d8165.8dc63",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"affichage position\")\nsound_effect.push(\"affichage positionouverture starmap\")\nsound_effect.push(\"voici la carte\")\nsound_effect.push(\"pas de soucis\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"ok c'est compris\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 1120,
        "wires": [
            [
                "ca7a7cef.9b88b"
            ]
        ]
    },
    {
        "id": "ca7a7cef.9b88b",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 1120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "460721f7.59cf5",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 1060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4b740626.5bd278",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"activation balayage\")\nsound_effect.push(\"mise en route balayage\")\nsound_effect.push(\"pas de soucis\")\nsound_effect.push(\"daccord\")\nsound_effect.push(\"ok c'est compris\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1240,
        "wires": [
            [
                "c0815b16.49ce28"
            ]
        ]
    },
    {
        "id": "c0815b16.49ce28",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 1240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d336e636.ff7478",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 1360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "278255bc.85659a",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect bip",
        "func": "msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 240,
        "wires": [
            [
                "c1948433.e6bbc8"
            ]
        ]
    },
    {
        "id": "2426945c.782b3c",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "activation mod discret (sf)",
        "func": "let search=[]\nsearch.push('Passe en mod discret')\nsearch.push('active le mod discret')\nsearch.push('Met toi en mod discret')\nsearch.push('activation du mod discret')\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    global.set('discret',true);\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "278255bc.85659a"
            ]
        ]
    },
    {
        "id": "4992daa8.ce4cd4",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "mise en someil/veille (sf)",
        "func": "let search=[]\nsearch.push('met toi en sommeil')\nsearch.push('met toi en veille')\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    global.set('swan_active',false);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "278255bc.85659a"
            ]
        ]
    },
    {
        "id": "74020766.bb2d28",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "désactivation mod discret (sf)",
        "func": "let search=[]\nsearch.push('repasse en mod normale')\nsearch.push('Sort du mod discret')\nsearch.push('désactivation du mod discret')\nsearch.push('coupe le mod discret')\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    global.set('discret',false);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "278255bc.85659a"
            ]
        ]
    },
    {
        "id": "522ef241.663c2c",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "remise en attente (sf)",
        "func": "let search=[]\nsearch.push('remet toi en écoute')\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    global.set('swan_active',true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "278255bc.85659a",
                "c4d0d9c4.f3e188"
            ]
        ]
    },
    {
        "id": "2138d111.3e568e",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "appelle station/base/pad/hangar",
        "func": "let search=[]\nsearch.push('appel la station')\nsearch.push('appel la base')\nsearch.push('ouvre le hangar')\nsearch.push('appel le hangar')\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "c906628b.62438",
                "49944fd.0150ab"
            ]
        ]
    },
    {
        "id": "22232de5.66b6f2",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Sortir le train",
        "func": "let search=[]\nsearch.push(\"sort le train d'attérissage\")\nsearch.push(\"sort les trains d'attérissage\")\nsearch.push(\"sort les trains\")\nsearch.push(\"sort le train\")\nsearch.push(\"ouvre le train d'attérissage\")\nsearch.push(\"ouvre les trains d'attérissage\")\nsearch.push(\"ouvre les trains\")\nsearch.push(\"ouvre le train\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 580,
        "wires": [
            [
                "5f3eacef.0de624",
                "37c53eaf.fd07e2"
            ]
        ]
    },
    {
        "id": "b843b6ff.dcf998",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "ferme le train",
        "func": "let search=[]\nsearch.push(\"ferme le train d'attérissage\")\nsearch.push(\"ferme les trains d'attérissage\")\nsearch.push(\"ferme les trains\")\nsearch.push(\"ferme le train\")\nsearch.push(\"rentre le train d'attérissage\")\nsearch.push(\"rentre les trains d'attérissage\")\nsearch.push(\"rentre les trains\")\nsearch.push(\"rentre le train\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 620,
        "wires": [
            [
                "8f498681.181068",
                "5f3eacef.0de624"
            ]
        ]
    },
    {
        "id": "94522874.573468",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "allumage feu",
        "func": "let search=[]\nsearch.push(\"on y voit rien\")\nsearch.push(\"un peu de lumiére\")\nsearch.push(\"allume les phares\")\nsearch.push(\"allume les feux\")\nsearch.push(\"allumes les spots\")\nsearch.push(\"éclair la zone\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "a3ea4a36.9df278",
                "5ca65c60.093064"
            ]
        ]
    },
    {
        "id": "f81e2770.3a96d8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "extinction feu",
        "func": "let search=[]\nsearch.push(\"éteint les phares\")\nsearch.push(\"éteint les feux\")\nsearch.push(\"éteint les spots\")\nsearch.push(\"coupe les phares\")\nsearch.push(\"coupe les feux\")\nsearch.push(\"coupe les spots\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 720,
        "wires": [
            [
                "467b1001.aaf0e",
                "a3ea4a36.9df278"
            ]
        ]
    },
    {
        "id": "50d5919.51a547",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "test de swan",
        "func": "let search=[]\nsearch.push(\"es tu là\")\nsearch.push(\"tu es là\")\nsearch.push(\"tu m'entends\")\nsearch.push(\"tu es avec moi\")\nsearch.push(\"on se réveille\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "a9f45782.f6e668"
            ]
        ]
    },
    {
        "id": "16e2c842.a51038",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "ready to fly",
        "func": "let search=[]\nsearch.push(\"démarre les systèmes\")\nsearch.push(\"démarre le vaisseaux\")\nsearch.push(\"démarre l'appareil\")\nsearch.push(\"allume le vaisseaux\")\nsearch.push(\"allume l'appareil\")\nsearch.push(\"met en chauffe l'appareil\")\nsearch.push(\"met en chauffe le vaisseau\")\nsearch.push(\"fait chauffer l'appareil\")\nsearch.push(\"fait chauffer les systèmes\")\nsearch.push(\"fait chauffer le système\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 960,
        "wires": [
            [
                "84779243.093dd",
                "7054d44f.818afc"
            ]
        ]
    },
    {
        "id": "97f99b07.24c188",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "ouverture starmap",
        "func": "let search=[]\n\nsearch.push(\"affiche la carte\")\nsearch.push(\"affiche la position\")\nsearch.push(\"affiche la starmap\")\nsearch.push(\"affiche moi la carte\")\nsearch.push(\"affiche moi notre position\")\nsearch.push(\"affiche moi la starmap\")\nsearch.push(\"ouvre la carte\")\nsearch.push(\"ouvre la starmap\")\nsearch.push(\"ouvre moi la carte\")\nsearch.push(\"ouvre moi la starmap\")\nsearch.push(\"montre la carte\")\nsearch.push(\"montre la starmap\")\nsearch.push(\"montre moi la carte\")\nsearch.push(\"montre moi notre position\")\nsearch.push(\"montre moi la starmap\")\nsearch.push(\"prépare l'itinéraire\")\nsearch.push(\"prépare un itinéraire\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "bc4a3cb9.3f088",
                "419d8165.8dc63"
            ]
        ]
    },
    {
        "id": "39e4cf39.b3eb8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "fermeture starmap",
        "func": "let search=[]\n\nsearch.push(\"ferme la carte\")\nsearch.push(\"ferme la starmap\")\nsearch.push(\"ferme moi la carte\")\nsearch.push(\"ferme moi la starmap\")\nsearch.push(\"coupe la starmap\")\nsearch.push(\"coupe la map\")\nsearch.push(\"coupe moi la starmap\")\nsearch.push(\"coupe moi la map\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1120,
        "wires": [
            [
                "bc4a3cb9.3f088",
                "419d8165.8dc63"
            ]
        ]
    },
    {
        "id": "c42194a3.4db048",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "lancement balayage zone",
        "func": "let search=[]\n\nsearch.push(\"active balayage\")\nsearch.push(\"scan la zone\")\nsearch.push(\"Balaye la zone\")\nsearch.push(\"passe en balayage actif\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 1220,
        "wires": [
            [
                "c80aea08.6d0d58",
                "4b740626.5bd278"
            ]
        ]
    },
    {
        "id": "9aa7a9e2.3b9e38",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Coupure balayage zone",
        "func": "let search=[]\n\nsearch.push(\"coupe le balayage\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "4b740626.5bd278",
                "f26957c9.4d4b48"
            ]
        ]
    },
    {
        "id": "4f016f81.955fe",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "ouverture des portes",
        "func": "let search=[]\n\nsearch.push(\"ouvre la porte\")\nsearch.push(\"ouvre les portes\")\nsearch.push(\"ouvre le sasse\")\nsearch.push(\"ouvre les sasse\")\nsearch.push(\"ouvre la soute\")\nsearch.push(\"ouvre les soutes\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload===ask)\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1440,
        "wires": [
            [
                "94640d5a.68dbb",
                "6921498.5c791b8"
            ]
        ]
    },
    {
        "id": "c4719d52.28f68",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "fermetures des portes",
        "func": "let search=[]\n\nsearch.push(\"ferme la porte\")\nsearch.push(\"ferme les portes\")\nsearch.push(\"ferme le sasse\")\nsearch.push(\"ferme les sasse\")\nsearch.push(\"ferme la soute\")\nsearch.push(\"ferme les soutes\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1480,
        "wires": [
            [
                "6921498.5c791b8",
                "ba131e1f.40594"
            ]
        ]
    },
    {
        "id": "ba131e1f.40594",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"fermeture des portes\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1520,
        "wires": [
            [
                "3666514d.83582e"
            ]
        ]
    },
    {
        "id": "c4d0d9c4.f3e188",
        "type": "debug",
        "z": "b66acd7.74f2a3",
        "name": "test",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "52a27ef.880aa8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier i",
        "func": "msg.payload=`i`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 940,
        "y": 1620,
        "wires": [
            [
                "cef03752.b87f18"
            ]
        ]
    },
    {
        "id": "629994d2.7ea81c",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 1580,
        "wires": [
            [],
            [
                "2e080c31.4188d4",
                "cfaa111c.d101e"
            ]
        ]
    },
    {
        "id": "cef03752.b87f18",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 1580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "25984514.bdc8da",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 1640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "59cdb765.f19378",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"dém mot 1\")\nsound_effect.push(\"dém mot 2\")\nsound_effect.push(\"dém mot 3\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1580,
        "wires": [
            [
                "25984514.bdc8da"
            ]
        ]
    },
    {
        "id": "6ff26827.df5668",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "moteur",
        "info": "\n\n",
        "x": 330,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2e080c31.4188d4",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "déamare moteur",
        "func": "let search=[]\n\nsearch.push(\"démarre le moteur\")\nsearch.push(\"démarre les moteurs\")\nsearch.push(\"lance le moteur\")\nsearch.push(\"lance les moteurs\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            console.log(msg.payload.toString()+\"??\"+ask.toString())\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.toString()===(\"SWAN \"+ask.toString()))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1580,
        "wires": [
            [
                "59cdb765.f19378",
                "52a27ef.880aa8"
            ]
        ]
    },
    {
        "id": "cfaa111c.d101e",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "coupe les moteurs",
        "func": "let search=[]\n\nsearch.push(\"arrête le moteur\")\nsearch.push(\"arrête les moteurs\")\nsearch.push(\"coupe le moteur\")\nsearch.push(\"coupe les moteurs\")\nsearch.push(\"éteint le moteur\")\nsearch.push(\"éteint les moteurs\")\n\t\t\t\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1620,
        "wires": [
            [
                "52a27ef.880aa8",
                "10a041e2.f3b80e"
            ]
        ]
    },
    {
        "id": "10a041e2.f3b80e",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"coup mot 2\")\nsound_effect.push(\"coup mot 1\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1660,
        "wires": [
            [
                "25984514.bdc8da"
            ]
        ]
    },
    {
        "id": "c0451a6.6c325e8",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "Clavier u",
        "func": "msg.payload=`u`\n\nreturn msg\n",
        "outputs": "1",
        "noerr": 0,
        "x": 940,
        "y": 1740,
        "wires": [
            [
                "f966c3a6.cebd"
            ]
        ]
    },
    {
        "id": "260696ed.8109ba",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "confiance_gate",
        "func": "let to_false={}\nlet to_true={}\n\nif(parseFloat(msg.payload.confidence)< global.get(\"confiance_gate\"))\n{\n    to_false.topic=true\n    to_false.payload=msg.payload.text;\n    to_false.confidance=msg.payload.confidence\n}\nelse{\n    to_true.topic=true\n    to_true.payload=msg.payload.text;\n}\n\nreturn [to_false,to_true]\n",
        "outputs": "2",
        "noerr": 0,
        "x": 360,
        "y": 1700,
        "wires": [
            [],
            [
                "b523d103.6e585",
                "5f56c57f.92e8fc"
            ]
        ]
    },
    {
        "id": "f966c3a6.cebd",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"c:\\swan\\autohotkey\\keyboard.ahk\"",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "keybord short",
        "x": 1360,
        "y": 1700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e4b94a77.ce2818",
        "type": "exec",
        "z": "b66acd7.74f2a3",
        "command": "\"C:\\Program Files\\VideoLAN\\VLC\\vlc.exe\" --gain=0.5 --qt-start-minimized --play-and-exit --qt-notification=0 --no-repeat --no-loop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "oldrc": true,
        "name": "vlc",
        "x": 1330,
        "y": 1760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "61be0ef9.6155e",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"dem gen 1\")\nsound_effect.push(\"dem gen 2\")\nsound_effect.push(\"dem gen 3\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1700,
        "wires": [
            [
                "e4b94a77.ce2818"
            ]
        ]
    },
    {
        "id": "550c7ba0.c1eee4",
        "type": "comment",
        "z": "b66acd7.74f2a3",
        "name": "générateur / energie",
        "info": "\n\n",
        "x": 370,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b523d103.6e585",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "démare gen",
        "func": "let search=[]\n\nsearch.push(\"démarre le générateur\")\nsearch.push(\"démarre les générateurs\")\nsearch.push(\"lance le générateur\")\nsearch.push(\"lance les générateurs\")\n\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1700,
        "wires": [
            [
                "61be0ef9.6155e",
                "c0451a6.6c325e8"
            ]
        ]
    },
    {
        "id": "5f56c57f.92e8fc",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "coupe les générateur",
        "func": "let search=[]\n\nsearch.push(\"arrête le générateur\")\nsearch.push(\"arrête les générateurs\")\nsearch.push(\"coupe le générateur\")\nsearch.push(\"coupe les générateurs\")\nsearch.push(\"éteint le générateur\")\nsearch.push(\"éteint les générateurs\")\n\n\t\t\t\nlet find=false\n\nif (msg.topic===true){\n    search.forEach((ask) => {\n        if(find===false)\n        {\n            //console.log(\"ask : \"+ask)\n            if(msg.payload.includes(ask))\n            {\n                console.log(\"jai une correspondance avec : \"+ ask)\n                find=true\n            }\n        }\n    });\n}\nif(find===true)\n{\n    search=[]\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1740,
        "wires": [
            [
                "c0451a6.6c325e8",
                "fb3b0c22.a19fd"
            ]
        ]
    },
    {
        "id": "fb3b0c22.a19fd",
        "type": "function",
        "z": "b66acd7.74f2a3",
        "name": "sound_effect",
        "func": "let sound_effect=[]\nsound_effect.push(\"coup gen 2\")\nsound_effect.push(\"coup gen 1\")\n\nif(global.get('discret')===true)\n{\n   msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"bip_confirm.mp4\\\"\";\n}\nelse\n{\n    let random=Math.floor(Math.random() * sound_effect.length)\n\n    msg.payload= \"\\\"\"+global.get(\"path_sound\")+\"\"+sound_effect[random]+\".mp4\\\"\";\n}\nreturn msg ",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 1780,
        "wires": [
            [
                "e4b94a77.ce2818"
            ]
        ]
    }
]